@model GSAV.Web.Models.IntentoModel
@using Microsoft.AspNet.Identity
@using GSAV.Entity.Objects
@using GSAV.Entity.Util
@{
    /**/

    ViewBag.Title = "Detalle de Base de Conocimiento";
}

<div class="contentPaneWide clearfix tabbedPane portal">

    <div class="paneTabs clearfix">
        <h2 class="hideoff" id="anonymous_element_2">Fichas</h2>
        <ul id="paneTabs" class="clearfix nav">
            <li class="active ">
                <a href="#">Detalle de Base de Conocimiento<span class="hideoff"> (ficha activa)</span></a>
            </li>

            <li class="" style="display:none;"></li>
            <li id="overflowLiId" class="sub" style="display: none;">
                <a href="#" id="overflowIconId" class="hiddenTabsLink"></a>
                <ul class="more" id="overflowULId"></ul>
            </li>
        </ul>
    </div>

    <div id="content" class="contentBox clearfix">
        <div class="container clearfix">

            <div class="row">
                <div class="col-md-12">



                    <div class="contentBox contentBox-edit clearfix">

                        <div class="containerPortal clearfix">

                            <div id="column0" class="column-2 clearfix" style="width: 20%;">

                                <div class="portlet clearfix  " id="module:_48_1">
                                    <!-- extid:portal/tools/my_institution: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_4">
                                        <span class="moduleTitle">Herramientas</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <ul class="portletList">
                                            <li>
                                                <a href="@Url.Content("/Home/Index")" _self">Mi institución</a>
                                            </li>

                                            @if (@Session["Login-Info"] != null &&
                                                ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "DOCENTE")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/Consulta/Index")" _self">Bandeja de Consultas</a>
                                                </li>

                                            }

                                            @if (@Session["Login-Info"] != null &&
                                                 ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "DOCENTE")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/BaseAcademico/Index")" _self">Base de Conocimiento Académico</a>
                                                </li>

                                            }

                                            @if (@Session["Login-Info"] != null && ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "COORDINADOR")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/Dashboard/Index")" _self">Dashboard de Consultas</a>
                                                </li>
                                            }

                                        </ul>


                                    </div>
                                </div>

                                <div class="portlet clearfix  " id="module:_522_1">
                                    <!-- extid:522: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_5">
                                        <span class="moduleTitle">Videotutoriales y manuales de Aprendizaje Digital</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated"><p style="text-align: center;"><a href="https://www.youtube.com/playlist?list=PLontYaReEU1seUE3ACG3sEc3zR7Br7URU" target="_blank"><img src="~/Content/images/BMANUALES1.jpg" width="100%" height="100%" alt="videotutoriales" title="videotutoriales"></a></p></div>

                                    </div>
                                </div>

                                <div class="portlet clearfix  " id="module:_528_1">
                                    <!-- extid:528: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_7">
                                        <span class="moduleTitle">Reglamentos y Políticas de UPC</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated">
                                            <div class="w3-content w3-section" style="max-width: 100%;">
                                                <a href="http://sica.upc.edu.pe/publico/reglamentos-upc" target="_blank="><img class="mySlides1" src="http://info.upc.edu.pe/hemeroteca/BB/slides/img/b_reg.png" style="width: 100%; display: block;"></a>
                                                <a href="http://sica.upc.edu.pe/publico/politicas-upc" target="_blank"><img class="mySlides1" src="http://info.upc.edu.pe/hemeroteca/BB/slides/img/b_pol.png" style="width: 100%; display: none;"></a>
                                            </div>
                                            <script type="text/javascript">
                                                /*<![CDATA[*/
                                                var myIndex1 = 0;
                                                carousel1();

                                                function carousel1() {
                                                    var i;
                                                    var x = document.getElementsByClassName("mySlides1");
                                                    for (i = 0; i < x.length; i++) {
                                                        x[i].style.display = "none";
                                                    }
                                                    myIndex1++;
                                                    if (myIndex1 > x.length) { myIndex1 = 1 }
                                                    x[myIndex1 - 1].style.display = "block";
                                                    setTimeout(carousel1, 3000); // Change image every 2 seconds
                                                }
                                                /*]]>*/</script>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div id="column1" class="column-2 clearfix" style="width: 80%;">
                                <div class="portlet clearfix  " id="module:_527_1">
                                    <!-- extid:527: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_9">
                                        <span class="moduleTitle">

                                            @if (Model.Id.Equals("NEW"))
                                            {
                                            <label>Crear Entrada En La Base de Conocimiento</label>
                                            }
                                            else
                                            {
                                            <label>Editar Entrada En La Base de Conocimiento</label> 
                                            }
                                        </span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">


                                        <table width="100%">
                                            <tr>
                                                <td style="height:15px"></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%">

                                                    <fieldset class="fieldset">
                                                        <legend>Datos</legend>

                                                        <table width="100%" cellpadding="2">
                                                            <colgroup>
                                                                <col width="15%" />
                                                                <col width="35%" />
                                                                <col width="12%" />
                                                                <col width="38%" />
                                                            </colgroup>
                                                            <tr>
                                                                <td align="left" class="Texto">
                                                                    Código de Intención:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.TextBoxFor(model => model.Id, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                                <td align="left" class="Texto" style="padding-left:10px;"></td>
                                                                <td style="text-align: left"></td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="Texto">
                                                                    Intención:
                                                                </td>
                                                                <td style="text-align: left">

                                                                    @if (Model.Id.Equals("NEW"))
                                                                    {
                                                                        <select id="cbIntencion" style="width: 100%">
                                                                            <option value="">Seleccione</option>
                                                                            <option value="1">Asistencia</option>
                                                                            <option value="7">Matricula</option>
                                                                            <option value="26">Retiro</option>
                                                                            <option value="22">Promedio</option>
                                                                            <option value="51">Actividad Académica</option>
                                                                        </select>
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.DescripcionIntencionPadre, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                    }


                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="Texto">
                                                                    Sub-Intención:
                                                                </td>
                                                                <td style="text-align: left">

                                                                    @if (Model.Id.Equals("NEW"))
                                                                    {
                                                                        @Html.TextBoxFor(model => model.Nombre, new { @style = "width:100%" })
                                                                    }
                                                                    else
                                                                    {
                                                                        @Html.TextBoxFor(model => model.Nombre, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                    }

                                                                </td>
                                                                <td align="left" class="Texto" style="padding-left:10px;">
                                                                    Fecha Creación:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.TextBoxFor(model => model.FechaCreacion, new { @style = "width:120px", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Frases Entrenamiento:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <table width="100%">
                                                                        <tr>
                                                                            <td id="tdjQueryTablePF">
                                                                                <div id="divContenedorPF" style="width:100%">
                                                                                    <table id="jqGridPF"></table>
                                                                                    <div id="jqGridPagerPF"></div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    Respuesta:
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">
                                                                    @Html.TextArea("Respuesta", new { @style = "", @class = "textAreaCustom" })
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="hidden" id="jsonFrases" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>

                                                    <fieldset class="fieldset" style="margin-top: 5px!important;">
                                                        <table>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <input type="button" value="Grabar" onclick="javascript: Grabar();" />

                                                                    <input type="button" value="Regresar" onclick="javascript: Cancelar();" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>
                                                </td>
                                            </tr>
                                        </table>

                                        <script type="text/javascript">

                                            $(document).ready(function () {

                                                $("#diagFraseEntrena").dialog({
                                                    autoOpen: false,
                                                    height: 200,
                                                    width: 500,
                                                    resizable: false,
                                                    modal: true,
                                                    close: function () {
                                                    }
                                                });

                                                var valwidth = $('#divContenedorPF').width();

                                                jQuery("#jqGridPF").jqGrid({
                                                    datatype: "local",
                                                    width: valwidth,
                                                    colNames: ['Id', 'Id', 'Descripcion'],
                                                    colModel: [
                                                        { name: 'Id', index: 'Id', width: 5, sortable: false, hidden: true },
                                                        { name: 'IdShort', index: 'IdShort', align: "center", width: 4, sortable: false, hidden: true },
                                                        { name: 'Descripcion', index: 'Descripcion', align: "left", width: 20, sortable: false }
                                                    ],
                                                    height: 250,
                                                    rowNum: 10,
                                                    sortname: 'id',
                                                    hidegrid: false,
                                                    pager: "#jqGridPagerPF",
                                                    rownumbers: true,
                                                    viewrecords: true,
                                                    toolbar: [true, "top"],
                                                    sortorder: "asc",
                                                    loadtext: 'Cargando datos...',
                                                    recordtext: "{0} - {1} de {2} Elementos",
                                                    emptyrecords: 'No hay resultados',
                                                    pgtext: 'Página: {0} de {1}'

                                                });

                                                $('#t_jqGridPF').append("<table style='margin-left: 12px;'><tr><td style='font-size: 12px;height:22px;'> <a id='lblNuevo'>Nuevo</a> | <a id='lblEditar'>Editar</a> | <a id='lblELiminar'>Eliminar</a>  </td></tr></table>");

                                                CargarFrases();

                                                $('a', '#t_jqGridPF').click(function (event) {
                                                    var control = event.target.id;
                                                    switch (control) {
                                                        case 'lblNuevo':
                                                            CrearNuevaFrase();
                                                            break;
                                                        case 'lblEditar':
                                                            console.log('lblEditar');
                                                            EditarFrase();
                                                            break;
                                                        case 'lblELiminar':
                                                            var id = $("#jqGridPF").jqGrid('getGridParam', 'selrow');
                                                            if (!id) {
                                                                alert("Por favor seleccione un registro de la tabla.");
                                                                return;
                                                            }
                                                            var fila = $('#jqGridPF').jqGrid('getRowData', id);
                                                            if (confirm('Ha seleccionado el siguente registro: ' + fila.Descripcion + ' ¿Esta seguro que desea eliminar este registro?')) {
                                                                EliminarFraseGridView(fila.Id);
                                                            }
                                                            break;
                                                    }
                                                });

                                            });

                                            function AceptarFrase() {
                                                var frase = $("#txtFrase").val();
                                                var idFrase = $("#hdnIdFrase").val();

                                                if (frase === '') {
                                                    alert("Por favor, ingrese una frase de entrenamiento");
                                                    $("#txtFrase").focus();
                                                    return;
                                                }

                                                if (idFrase === '0') {
                                                    NuevaFraseGridView(frase);
                                                } else {
                                                    EditarFraseGridView(idFrase, frase)
                                                }
                                                $('#diagFraseEntrena').dialog('close');
                                            }

                                            function NuevaFraseGridView(frase) {
                                                var list = jQuery("#jqGridPF").jqGrid('getRowData');

                                                var idNew = -1;
                                                var minValue = 0;
                                                if (list.length > 0) {
                                                    for (m = 0; m < list.length; m++) {
                                                        var _obj = new Object();
                                                        _obj.Id = list[m]["Id"];
                                                        if (parseInt(_obj.Id) < parseInt(minValue)) {
                                                            minValue = _obj.Id;
                                                        }
                                                    }
                                                    if (minValue === 0) idNew = -1;
                                                    if (minValue < 0) idNew = minValue - 1;
                                                }

                                                var array = [];
                                                var obj_ = new Object();
                                                obj_.Id = idNew;
                                                obj_.IdShort = 'New';
                                                obj_.Descripcion = frase;
                                                array.push(obj_);

                                                if (list.length > 0) {
                                                    for (n = 0; n < list.length; n++) {
                                                        var obj = new Object();
                                                        obj.Id = list[n]["Id"];
                                                        obj.IdShort = list[n]["IdShort"];
                                                        obj.Descripcion = list[n]["Descripcion"];
                                                        array.push(obj);
                                                    }
                                                }
                                                $("#jqGridPF").clearGridData();
                                                $("#jqGridPF").jqGrid('setGridParam', { data: array });
                                                $("#jqGridPF").trigger('reloadGrid');
                                            }

                                            function EditarFraseGridView(id, frase) {
                                                console.log('EditarFraseGridView');
                                                var list = jQuery("#jqGridPF").jqGrid('getRowData');
                                                var array = [];

                                                if (list.length > 0) {
                                                    for (m = 0; m < list.length; m++) {

                                                        if (parseInt(list[m]["Id"]) === parseInt(id)) {
                                                            var obj_ = new Object();
                                                            obj_.Id = list[m]["Id"];
                                                            obj_.IdShort = list[m]["IdShort"];
                                                            obj_.Descripcion = frase;
                                                            array.push(obj_);
                                                        } else {
                                                            var obj = new Object();
                                                            obj.Id = list[m]["Id"];
                                                            obj.IdShort = list[m]["IdShort"];
                                                            obj.Descripcion = list[m]["Descripcion"];
                                                            array.push(obj);
                                                        }
                                                    }
                                                }
                                                $("#jqGridPF").clearGridData();
                                                $("#jqGridPF").jqGrid('setGridParam', { data: array });
                                                $("#jqGridPF").trigger('reloadGrid');
                                            }

                                            function EliminarFraseGridView(id) {
                                                var list = jQuery("#jqGridPF").jqGrid('getRowData');
                                                var array = [];

                                                if (list.length > 0) {
                                                    for (m = 0; m < list.length; m++) {

                                                        if (parseInt(list[m]["Id"]) === parseInt(id)) {

                                                        } else {
                                                            var obj = new Object();
                                                            obj.Id = list[m]["Id"];
                                                            obj.IdShort = list[m]["IdShort"];
                                                            obj.Descripcion = list[m]["Descripcion"];
                                                            array.push(obj);
                                                        }
                                                    }
                                                }
                                                $("#jqGridPF").clearGridData();
                                                $("#jqGridPF").jqGrid('setGridParam', { data: array });
                                                $("#jqGridPF").trigger('reloadGrid');
                                            }

                                            function CancelarFrase() {
                                                $('#diagFraseEntrena').dialog('close');
                                            }

                                            function CrearNuevaFrase() {
                                                $('#txtFrase').val('');
                                                $('#hdnIdFrase').val('0');
                                                $('#diagFraseEntrena').dialog('open');
                                            }

                                            function EditarFrase() {
                                                var id = $("#jqGridPF").jqGrid('getGridParam', 'selrow');
                                                if (!id) {
                                                    alert("Por favor seleccione un registro de la tabla.");
                                                    return;
                                                }

                                                var fila = $('#jqGridPF').jqGrid('getRowData', id);
                                                $('#hdnIdFrase').val(fila.Id);
                                                $("#txtFrase").val(fila.Descripcion);
                                                $('#diagFraseEntrena').dialog('open');
                                            }

                                            function CargarFrases() {

                                                var parametros = {
                                                    idIntencion: $('#Id').val()
                                                };

                                                $("#jqGridPF").clearGridData();

                                                $("#jqGridPF").closest(".ui-jqgrid").find('.loading').show();

                                                $.ajax({
                                                    type: 'POST',
                                                    url: '/BaseAcademico/ConsultarFrasesEntrenamiento',
                                                    data: parametros,
                                                    dataType: 'json',
                                                    success: function (rpta) {

                                                        var parsed = JSON.parse(JSON.stringify(rpta));
                                                        var array_ = [];
                                                        for (var x in parsed) {
                                                            array_.push(parsed[x]);
                                                        }

                                                        $("#jqGridPF").closest(".ui-jqgrid").find('.loading').hide();
                                                        $("#jqGridPF").jqGrid('setGridParam', { data: array_ });
                                                        $("#jqGridPF").trigger('reloadGrid');

                                                    },
                                                    error: function (XMLHttpRequest, textStatus, errorThrown) {


                                                    }
                                                });

                                            }

                                            function Grabar() {
                                                
                                                var intencionPadre = $("#cbIntencion").find("option:selected").val();
                                                if (intencionPadre === '') {
                                                    alert("Por favor, seleccione la Intención");
                                                    $("#cbIntencion").focus();
                                                    return;
                                                }
                                                
                                                if ($('#Nombre').val() === '') {
                                                    alert("Por favor, ingrese Sub-Intención");
                                                    $("#Nombre").focus();
                                                    return;
                                                }

                                                $.blockUI();

                                                //BEGIN - Validar Si Existe Intencion

                                                var parametros_ = {
                                                    nombreIntencion: $('#Nombre').val()
                                                };

                                                //NUEVO
                                                if ($('#Id').val() === 'NEW') {
                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/Consulta/ValidarIntencion',
                                                        data: parametros_,
                                                        dataType: 'json',
                                                        success: function (rpta) {

                                                            $.unblockUI();

                                                            if (rpta.ValidacionIntencion === 'EXISTE') {
                                                                $("#Nombre").focus();

                                                                if (confirm('La intención ingresada ya existe. ¿Desea reemplazarla?')) {
                                                                    GrabarIntencion(rpta.IdDialogFlow);
                                                                }
                                                            } else {
                                                                GrabarIntencion($('#Id').val());
                                                            }

                                                        },
                                                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                        }
                                                    });
                                                } else {
                                                    GrabarIntencion($('#Id').val());
                                                }




                                                //END   - Validar Si Existe Intencion



                                            }

                                            function GrabarIntencion(idIntencion) {
                                                //BEGIN Grabar Datos
                                                $.blockUI();

                                                var frases_ = jQuery("#jqGridPF").jqGrid('getRowData');
                                                var strFrases = JSON.stringify(frases_);

                                                var parametros = {
                                                    id: idIntencion,
                                                    nombreIntencion: $('#Nombre').val(),
                                                    frases: strFrases,
                                                    respuesta: $('#Respuesta').val(),
                                                    idIntencionPadre: $("#cbIntencion").find("option:selected").val()
                                                };

                                                $.ajax({
                                                    type: 'POST',
                                                    url: '/BaseAcademico/ActualizarIntencion',
                                                    data: parametros,
                                                    dataType: 'json',
                                                    success: function (rpta) {
                                                        $.unblockUI();

                                                        console.log(rpta);
                                                        var message_ = '';

                                                        if (rpta.Mensaje === 'INSERT-OK') {
                                                            message_ = 'Los datos han sido registrados correctamente.';
                                                            $('#Id').val(rpta.Id);
                                                            console.log(rpta.Id);
                                                            MostrarAlertRedirect(message_);
                                                            setTimeout(function () { Cancelar(); }, 3000);
                                                        }

                                                        if (rpta.Mensaje === 'INSERT-ERROR') {
                                                            message_ = 'Ha ocurrido un error no se pudo registrar la información. ' + rpta.MessageError;
                                                            MostrarAlert(message_);
                                                        }

                                                        if (rpta.Mensaje === 'UPDATE-OK') {
                                                            message_ = 'Los datos han sido actualizados correctamente.';
                                                            MostrarAlertRedirect(message_);
                                                            setTimeout(function () { Cancelar(); }, 3000);
                                                        }

                                                        if (rpta.Mensaje === 'UPDATE-ERROR') {
                                                            message_ = 'Ha ocurrido un error no se pudo actualizar la información. ' + + rpta.MessageError;
                                                            MostrarAlert(message_);
                                                        }

                                                        CargarFrases();

                                                    },
                                                    error: function (XMLHttpRequest, textStatus, errorThrown) {


                                                    }
                                                });

                                                //END Grabar Datos
                                            }

                                             function Editar(id) {
                                                 var url = '@Url.Action("Detalle", "BaseAcademico", new { id = "__id__"  })';
                                                 url = url.replace('__id__', id);
                                                 window.location.href = url;
                                            }

                                            function MostrarAlertRedirect(message_) {
                                                $.alert({
                                                    closeIcon: false,
                                                    title: 'Base Conocimiento Académico',
                                                    content: message_,
                                                    type: 'red',
                                                    typeAnimated: true
                                                });
                                            }

                                            function MostrarAlert(message_) {
                                                $.alert({
                                                    closeIcon: false,
                                                    title: 'Base Conocimiento Académico',
                                                    content: message_,
                                                    type: 'red',
                                                    typeAnimated: true
                                                });
                                            }

                                            function Cancelar() {
                                                window.open('@Url.Action("Index", "BaseAcademico")', '_self');
                                            }

                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="diagFraseEntrena" title="Frase Entrenamiento" style="display: none">
    <div>
        <table style="width: 100%; text-align: left" class="tablePopup">
            <tr>
                <td valign="top">
                    Frase:
                </td>
                <td>                    
                    <textarea id="txtFrase" name="txtFrase" style="height:100px;width:400px" class="textAreaCustom"></textarea>
                    <input type="hidden" id="hdnIdFrase" />

                </td>
            </tr>
        </table>
    </div>
    <div id="divBotonesPopupFrases" style="text-align: center; padding-top: 5px; border-bottom-color: Navy; border-width: 5px;">
        <input id="btnAceptarFrase" type="button" value="Guardar" onclick="AceptarFrase(); return false;" />
        <input id="btnCancelarFrase" type="button" value="Cancelar" onclick="CancelarFrase(); return false;" />
    </div>
</div>