@using Microsoft.AspNet.Identity
@using GSAV.Entity.Objects
@using GSAV.Entity.Util
@{
    /**/

    ViewBag.Title = "Base de Conocimiento Académico";
}

<div class="contentPaneWide clearfix tabbedPane portal">

    <div class="paneTabs clearfix">
        <h2 class="hideoff" id="anonymous_element_2">Fichas</h2>
        <ul id="paneTabs" class="clearfix nav">
            <li class="active ">
                <a href="@Url.Content("/BaseAcademico/Index")">Base de Conocimiento Académico<span class="hideoff"> (ficha activa)</span></a>
            </li>

            <li class="" style="display:none;"></li>
            <li id="overflowLiId" class="sub" style="display: none;">
                <a href="#" id="overflowIconId" class="hiddenTabsLink"></a>
                <ul class="more" id="overflowULId"></ul>
            </li>
        </ul>
    </div>

    <div id="content" class="contentBox clearfix">
        <div class="container clearfix">

            <div class="row">
                <div class="col-md-12">



                    <div class="contentBox contentBox-edit clearfix">

                        <div class="containerPortal clearfix">

                            <div id="column0" class="column-2 clearfix" style="width: 20%;">

                                <div class="portlet clearfix  " id="module:_48_1">
                                    <!-- extid:portal/tools/my_institution: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_4">
                                        <span class="moduleTitle">Herramientas</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <ul class="portletList">
                                            <li>
                                                <a href="@Url.Content("/Home/Index")" _self">Mi institución</a>
                                            </li>

                                            @if (@Session["Login-Info"] != null && ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "DOCENTE")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/Consulta/Index")" _self">Bandeja de Consultas</a>
                                                </li>

                                            }

                                            @if (@Session["Login-Info"] != null &&
                                                ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "DOCENTE")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/BaseAcademico/Index")" _self">Base de Conocimiento Académico</a>
                                                </li>

                                            }

                                            @if (@Session["Login-Info"] != null && ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "COORDINADOR")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/Dashboard/Index")" _self">Dashboard de Consultas</a>
                                                </li>
                                            }



                                        </ul>


                                    </div>
                                </div>

                                <div class="portlet clearfix  " id="module:_522_1">
                                    <!-- extid:522: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_5">
                                        <span class="moduleTitle">Videotutoriales y manuales de Aprendizaje Digital</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated"><p style="text-align: center;"><a href="https://www.youtube.com/playlist?list=PLontYaReEU1seUE3ACG3sEc3zR7Br7URU" target="_blank"><img src="~/Content/images/BMANUALES1.jpg" width="100%" height="100%" alt="videotutoriales" title="videotutoriales"></a></p></div>

                                    </div>
                                </div>

                                <div class="portlet clearfix  " id="module:_528_1">
                                    <!-- extid:528: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_7">
                                        <span class="moduleTitle">Reglamentos y Políticas de UPC</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated">
                                            <div class="w3-content w3-section" style="max-width: 100%;">
                                                <a href="http://sica.upc.edu.pe/publico/reglamentos-upc" target="_blank="><img class="mySlides1" src="http://info.upc.edu.pe/hemeroteca/BB/slides/img/b_reg.png" style="width: 100%; display: block;"></a>
                                                <a href="http://sica.upc.edu.pe/publico/politicas-upc" target="_blank"><img class="mySlides1" src="http://info.upc.edu.pe/hemeroteca/BB/slides/img/b_pol.png" style="width: 100%; display: none;"></a>
                                            </div>
                                            <script type="text/javascript">
                                                /*<![CDATA[*/
                                                var myIndex1 = 0;
                                                carousel1();

                                                function carousel1() {
                                                    var i;
                                                    var x = document.getElementsByClassName("mySlides1");
                                                    for (i = 0; i < x.length; i++) {
                                                        x[i].style.display = "none";
                                                    }
                                                    myIndex1++;
                                                    if (myIndex1 > x.length) { myIndex1 = 1 }
                                                    x[myIndex1 - 1].style.display = "block";
                                                    setTimeout(carousel1, 3000); // Change image every 2 seconds
                                                }
                                                /*]]>*/</script>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div id="column1" class="column-2 clearfix" style="width: 80%;">
                                <div class="portlet clearfix  " id="module:_527_1">
                                    <!-- extid:527: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_9">
                                        <span class="moduleTitle">Base de Conocimiento Académico</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <table width="100%">
                                            <tr>
                                                <td style="height:40px">
                                                    <input type="button" value="Crear Entrada" onclick="javascript: CrearEntrada();" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%">

                                                    <fieldset class="fieldset">
                                                        <legend>Criterios de búsqueda</legend>

                                                        <table width="100%" cellpadding="2">
                                                            <colgroup>
                                                                <col width="15%" />
                                                                <col width="35%" />
                                                                <col width="15%" />
                                                                <col width="35%" />
                                                            </colgroup>
                                                            <tr>
                                                                <td align="left" class="Texto" style="">
                                                                    Intención:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    <input type="text" id="txtIntencion" style="width:80%" maxlength="10" />
                                                                </td>
                                                                <td align="left" class="Texto" style="">
                                                                    Frase Entrenamiento:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    <input type="text" id="txtFraseEntrena" style="width:80%" maxlength="10" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="Texto" style="">
                                                                    Respuesta:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    <input type="text" id="txtRespuesta" style="width:80%" maxlength="10" />
                                                                </td>
                                                                <td align="left" class="Texto" style="">
                                                                   
                                                                </td>
                                                                <td style="text-align: left">
                                                                    
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Fecha Inicial:
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="txtFechaInicio_Buscar" style="width: 100px;" />
                                                                </td>
                                                                <td>
                                                                    Fecha Final:
                                                                </td>
                                                                <td>
                                                                    <input type="text" id="txtFechaFin_Buscar" style="width: 100px;" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>

                                                    <fieldset class="fieldset" style="margin-top: 5px!important;">
                                                        <table>
                                                            <tr>
                                                                <td colspan="4">
                                                                    <input id="btnBuscar" type="button" value="Buscar" onclick="javascript: Buscar();" />

                                                                    <input type="button" value="Limpiar" onclick="javascript: Limpiar();" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>

                                                    <fieldset class="fieldset" style="margin-top: 5px!important;">
                                                        <legend>Listado de Consultas</legend>
                                                        <table width="100%">
                                                            <tr>
                                                                <td id="tdjQueryTable">
                                                                    <div id="divContenedor" style="width:100%">
                                                                        <table id="jqGrid"></table>
                                                                        <div id="jqGridPager"></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>
                                                </td>
                                            </tr>
                                        </table>

                                        <script type="text/javascript">

                                            $(document).ready(function () {

                                                //-----------------------------------------------------------------------------------------

                                                $("#dialogConsulta").dialog({
                                                    autoOpen: false,
                                                    height: 430,
                                                    width: 650,
                                                    resizable: false,
                                                    modal: true,
                                                    close: function () {
                                                    }
                                                });


                                                var valwidth = $('#tdjQueryTable').width();

                                                jQuery("#jqGrid").jqGrid({
                                                    datatype: "local",
                                                    width: valwidth,
                                                    colNames: ['Id', 'Código', 'Nombre', 'FechaCreacion', 'Respuesta', 'Training' , 'Editar', 'Anular'],
                                                    colModel: [
                                                        { name: 'Id', index: 'Id', width: 15, sortable: false, hidden: true },
                                                        { name: 'IdShort', index: 'IdShort', align: "center", width: 4, sortable: false, hidden: false },
                                                        { name: 'Nombre', index: 'Nombre', align: "center", width: 15, sortable: false },
                                                        { name: 'FechaCreacion', index: 'FechaCreacion', align: "center", width: 8, sortable: false },
                                                        { name: 'Respuesta', index: 'Respuesta', width: 20, align: "left", sortable: false },
                                                        {
                                                            name: 'Id', index: 'Id', align: "center", width: 5, sortable: false, jsonmap: "Id",
                                                            formatter: function (cellvalue, options, rowObject) {

                                                                var _id = "'" + rowObject.Id + "'";
                                                                var nroFrases = rowObject.CantidadFrases;
                                                                var nombre_ = "'" + rowObject.Nombre + "'";

                                                                return '<input class="buttonTable" type="button" value="Ver (' + nroFrases + ')" onclick="javascript:VerFrases(' + _id + ',' + nombre_ + ')"\>';
                                                            }
                                                        },
                                                        {
                                                            name: 'Id', index: 'Id', align: "center", width: 5, sortable: false, jsonmap: "Id",
                                                            formatter: function (cellvalue, options, rowObject) {

                                                                var _id = "'" + rowObject.Id + "'";

                                                                return '<input class="buttonTable" type="button" value="Editar" onclick="javascript:Editar(' + _id + ')"\>';
                                                            }
                                                        },
                                                        {
                                                            name: 'Id', index: 'Id', align: "center", width: 5, sortable: false, jsonmap: "Id",
                                                            formatter: function (cellvalue, options, rowObject) {

                                                                var _id = "'" + rowObject.Id + "'";
                                                                var displayName = "'" + rowObject.Nombre + "'";
                                                                return '<input class="buttonTable" type="button" value="Anular" onclick="javascript:Eliminar(' + _id + ',' + displayName +')"\>';
                                                            }
                                                        }
                                                    ],
                                                    height: 270,
                                                    rowNum: 10,
                                                    sortname: 'id',
                                                    hidegrid: false,
                                                    pager: "#jqGridPager",
                                                    rownumbers: true,
                                                    viewrecords: true,
                                                    toolbar: [false, "top"],
                                                    sortorder: "asc",
                                                    loadtext: 'Cargando datos...',
                                                    recordtext: "{0} - {1} de {2} Elementos",
                                                    emptyrecords: 'No hay resultados',
                                                    pgtext: 'Página: {0} de {1}'

                                                });


                                                jQuery("#jqGridPF").jqGrid({
                                                    datatype: "local",
                                                    width: 600,
                                                    colNames: ['Id', 'Id', 'Tipo', 'Descripcion'],
                                                    colModel: [
                                                        { name: 'Id', index: 'Id', width: 5, sortable: false, hidden: true },
                                                        { name: 'IdShort', index: 'IdShort', align: "center", width: 4, sortable: false, hidden: false },
                                                        { name: 'Tipo', index: 'Tipo', align: "center", width: 4, sortable: false },
                                                        { name: 'Descripcion', index: 'Descripcion', align: "left", width: 20, sortable: false }
                                                    ],
                                                    height: 250,
                                                    rowNum: 10,
                                                    sortname: 'id',
                                                    hidegrid: false,
                                                    pager: "#jqGridPagerPF",
                                                    rownumbers: true,
                                                    viewrecords: true,
                                                    toolbar: [false, "top"],
                                                    sortorder: "asc",
                                                    loadtext: 'Cargando datos...',
                                                    recordtext: "{0} - {1} de {2} Elementos",
                                                    emptyrecords: 'No hay resultados',
                                                    pgtext: 'Página: {0} de {1}'

                                                });

                                                CargarFechas();

                                                $("#btnBuscar").click();


                                            });

                                            //-----------------------------------------------------------------------------------------

                                            function CargarFechas() {
                                                $.datepicker.regional['es'] = {
                                                    closeText: 'Cerrar',
                                                    prevText: '<Ant',
                                                    nextText: 'Sig>',
                                                    currentText: 'Hoy',
                                                    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                                                    monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                                                    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                                                    dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                                                    dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                                                    weekHeader: 'Sm',
                                                    dateFormat: 'dd/mm/yy',
                                                    firstDay: 1,
                                                    isRTL: false,
                                                    showMonthAfterYear: false,
                                                    yearSuffix: ''
                                                };

                                                $.datepicker.setDefaults($.datepicker.regional['es']);

                                                $('#txtFechaInicio_Buscar').datepicker();
                                                $('#txtFechaFin_Buscar').datepicker();

                                                var now = new Date();
                                                var day = ("0" + now.getDate()).slice(-2);
                                                var month = ("0" + (now.getMonth() + 1)).slice(-2);

                                                var lastDate = new Date().add(-6).month();
                                                var lastDay = ("0" + lastDate.getDate()).slice(-2);
                                                var lastMonth = ("0" + (lastDate.getMonth() + 1)).slice(-2);

                                                var fchStart = (lastDay) + "/" + (lastMonth) + "/" + lastDate.getFullYear();
                                                var fchEnd = (day) + "/" + (month) + "/" + now.getFullYear();

                                                $('#txtFechaInicio_Buscar').val(fchStart);
                                                $('#txtFechaFin_Buscar').val(fchEnd);
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function VerFrases(idIntencion, nombre_) {

                                                $('#txtNombreIntencion').val(nombre_);
                                                $('#dialogConsulta').dialog('open');

                                                var parametros = {
                                                    idIntencion: idIntencion
                                                };

                                                $("#jqGridPF").clearGridData();

                                                $("#jqGridPF").closest(".ui-jqgrid").find('.loading').show();

                                                $.ajax({
                                                    type: 'POST',
                                                    url: '/BaseAcademico/ConsultarFrasesEntrenamiento',
                                                    data: parametros,
                                                    dataType: 'json',
                                                    success: function (rpta) {

                                                        var parsed = JSON.parse(JSON.stringify(rpta));
                                                        var array_ = [];
                                                        for (var x in parsed) {
                                                            array_.push(parsed[x]);
                                                        }

                                                        $("#jqGridPF").closest(".ui-jqgrid").find('.loading').hide();
                                                        $("#jqGridPF").jqGrid('setGridParam', { data: array_ });
                                                        $("#jqGridPF").trigger('reloadGrid');

                                                    },
                                                    error: function (XMLHttpRequest, textStatus, errorThrown) {


                                                    }
                                                });

                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function CrearEntrada() {
                                                var id = 'NEW';
                                                var url = '@Url.Action("Detalle", "BaseAcademico", new { id = "__id__"  })';
                                                url = url.replace('__id__', id);
                                                window.location.href = url;
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function CargarEstados() {

                                                $("#cbEstado").get(0).options.length = 0;
                                                $("#cbEstado").get(0).options[0] = new Option("Seleccione", "0");

                                                $.ajax({
                                                    type: "POST",
                                                    url: '/Consulta/ListarEstados',
                                                    contentType: "application/json; charset=utf-8",
                                                    dataType: "json",
                                                    success: function (data) {

                                                        var _estados = JSON.parse(JSON.stringify(data));

                                                        for (var x in _estados) {
                                                            var _id = _estados[x].IdEstado;
                                                            var _descripcion = _estados[x].Descripcion;
                                                            var selected = false;
                                                            //if (_id === 'D') selected = true;
                                                            _updateSelect($("#cbEstado"), _id, _descripcion, selected);
                                                        }

                                                        $("#btnBuscar").click();

                                                    },
                                                    error: function (error) {
                                                        console.log("Fallo carga de estados " + error);
                                                    }
                                                });
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function _updateSelect($select, value, text, selected) {
                                                var opt_ = document.createElement("option");
                                                opt_.value = value;
                                                opt_.text = text;
                                                opt_.selected = selected;
                                                $select[0].add(opt_, $select[0].options[1]);
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function Buscar() {

                                                var expreg = /^(?:(?:31(\/|-|\.)(?:0?[13578]|1[02]))\1|(?:(?:29|30)(\/|-|\.)(?:0?[1,3-9]|1[0-2])\2))(?:(?:1[6-9]|[2-9]\d)?\d{2})$|^(?:29(\/|-|\.)0?2\3(?:(?:(?:1[6-9]|[2-9]\d)?(?:0[48]|[2468][048]|[13579][26])|(?:(?:16|[2468][048]|[3579][26])00))))$|^(?:0?[1-9]|1\d|2[0-8])(\/|-|\.)(?:(?:0?[1-9])|(?:1[0-2]))\4(?:(?:1[6-9]|[2-9]\d)?\d{2})$/;

                                                if (!expreg.test($('#txtFechaInicio_Buscar').val())) {
                                                    alert("La Fecha Inicial no tiene un formato válido dd/MM/yyyy. Por favor, verifique el filtro ingresado");
                                                    $("#txtFechaInicio_Buscar").focus();
                                                    return;
                                                }

                                                //var expreg = /^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/;
                                                if (!expreg.test($('#txtFechaFin_Buscar').val())) {
                                                    alert("La Fecha Final no tiene un formato válido dd/MM/yyyy. Por favor, verifique el filtro ingresado");
                                                    $("#txtFechaFin_Buscar").focus();
                                                    return;
                                                }

                                                var fechaInicio = $('#txtFechaInicio_Buscar').val();
                                                var fechaFin = $('#txtFechaFin_Buscar').val();

                                                var dayDiff_1 = getDateDiff(fechaFin, fechaInicio);

                                                if (dayDiff_1 < 0) {
                                                    alert("La Fecha Inicial no puede ser posterior a la Fecha Final. Por favor, verifique el filtro ingresado");
                                                    $("#txtFechaInicio_Buscar").focus();
                                                    return;
                                                }

                                                ConsultarIntenciones();
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function Cerrar() {
                                                $('#dialogConsulta').dialog('close');
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function Limpiar() {
                                                $('#txtIntencion').val('');
                                                $('#txtFraseEntrena').val('');
                                                $('#txtRespuesta').val('');
                                                $('#txtFechaInicio_Buscar').val('');
                                                $('#txtFechaFin_Buscar').val('');
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function Editar(id) {                                                
                                                 var url = '@Url.Action("Detalle", "BaseAcademico", new { id = "__id__"  })';
                                                 url = url.replace('__id__', id);
                                                 window.location.href = url;
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function Eliminar(id,displayName) {
                                                if (confirm('Ha seleccionado el siguente registro: ' + displayName + ' ¿Esta seguro que desea eliminar este registro?')) {
                                                   
                                                    var parametros = {
                                                        id: id
                                                    };

                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/BaseAcademico/EliminarIntencion',
                                                        data: parametros,
                                                        dataType: 'json',
                                                        success: function (rpta) {

                                                            console.log(rpta);
                                                            var message_ = '';

                                                            if (rpta.Mensaje === 'DELETE-OK') {
                                                                message_ = 'El registro ha sido eliminado correctamente.';                                                              
                                                                MostrarAlert(message_);
                                                               
                                                            }

                                                            if (rpta.Mensaje === 'DELETE-ERROR') {
                                                                message_ = 'Ha ocurrido un error no se pudo eliminar el registro ' + rpta.MessageError;
                                                                MostrarAlert(message_);
                                                            }
                                                                                                                      
                                                            ConsultarIntenciones();

                                                        },
                                                        error: function (XMLHttpRequest, textStatus, errorThrown) {


                                                        }
                                                    });
                                                }
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function MostrarAlert(message_) {
                                                $.alert({
                                                    closeIcon: false,
                                                    title: 'Base Conocimiento Académico',
                                                    content: message_,
                                                    type: 'red',
                                                    typeAnimated: true
                                                });
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function ConsultarIntenciones() {

                                                var parametros = {
                                                    intencion: $('#txtIntencion').val(),
                                                    fraseEntrena: $('#txtFraseEntrena').val(),
                                                    respuesta: $('#txtRespuesta').val(),
                                                    fechaInicio: $('#txtFechaInicio_Buscar').val(),
                                                    fechaFin: $('#txtFechaFin_Buscar').val()
                                                };

                                                $("#jqGrid").clearGridData();

                                                $("#jqGrid").closest(".ui-jqgrid").find('.loading').show();

                                                $.ajax({
                                                    type: 'POST',
                                                    url: '/BaseAcademico/ConsultarIntenciones',
                                                    data: parametros,
                                                    dataType: 'json',
                                                    success: function (rpta) {

                                                        var parsed = JSON.parse(JSON.stringify(rpta));
                                                        var array_ = [];
                                                        for (var x in parsed) {
                                                            array_.push(parsed[x]);
                                                        }

                                                        $("#jqGrid").closest(".ui-jqgrid").find('.loading').hide();
                                                        $("#jqGrid").jqGrid('setGridParam', { data: array_ });
                                                        $("#jqGrid").trigger('reloadGrid');

                                                    },
                                                    error: function (XMLHttpRequest, textStatus, errorThrown) {


                                                    }
                                                });

                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function getDateDiff(time1, time2) {

                                                //console.log(time1);
                                                //console.log(time2);

                                                var str1 = time1.split('/');
                                                var str2 = time2.split('/');

                                                //                  yyyy   ,              mm       ,            dd
                                                var t1 = new Date(parseInt(str1[2]), parseInt(str1[1]) - 1, parseInt(str1[0]));
                                                var t2 = new Date(parseInt(str2[2]), parseInt(str2[1]) - 1, parseInt(str2[0]));

                                                //console.log(t1);
                                                //console.log(t2);

                                                var diffMS = t1 - t2;
                                                //console.log(diffMS + ' ms');

                                                var diffS = diffMS / 1000;
                                                //console.log(diffS + ' ');

                                                var diffM = diffS / 60;
                                                //console.log(diffM + ' minutes');

                                                var diffH = diffM / 60;
                                                //console.log(diffH + ' hours');

                                                var diffD = diffH / 24;
                                                //console.log(diffD + ' days');

                                                return diffD;

                                            }

                                            //-----------------------------------------------------------------------------------------


                                            //-----------------------------------------------------------------------------------------
                                        </script>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialogConsulta" title="Detalle Frases de Entrenamiento" style="display: none;background:#EFEDE3">
    <div>
        <table style="width: 100%; text-align: left;border-collapse: separate;" class="tablePopup">
            <colgroup>
                <col width="21%" />
                <col width="29%" />
                <col width="20%" />
                <col width="30%" />
            </colgroup>
            <tr>
                <td>
                    <label class="labelTextIndicador">Nombre Intención:</label>
                </td>
                <td colspan="3">
                    <input type="text" id="txtNombreIntencion" style="width:100%" class="text-box-read-only" />
                </td>
            </tr>

            <tr>
                <td valign="top" colspan="4">

                   
                        <table width="100%">
                            <tr>
                                <td id="tdjQueryTablePF">
                                    <div id="divContenedorPF" style="width:100%">
                                        <table id="jqGridPF"></table>
                                        <div id="jqGridPagerPF"></div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                 

                </td>
            </tr>
        </table>
    </div>
    <div id="divBotones" style="text-align: center; padding-top: 5px; border-bottom-color: Navy; border-width: 5px;">
        <input id="btnCerrar" type="button" value="Cerrar" onclick="javascript:Cerrar(); return false;" />
    </div>
</div>