@model GSAV.Web.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Blackboard Learn";
}

<!DOCTYPE HTML>
<html lang="es-ES">
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="request-method" name="request-method" content="GET">
    <meta name="author" content="Blackboard">
    <meta name="copyright" content="&copy; 1997-2018 Blackboard Inc. All Rights Reserved. U.S. Patent No. 7,493,396 and 7,558,853. Additional Patents Pending.">
    <meta name="keywords" content="Blackboard">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="SHORTCUT ICON" type="image/x-icon" href="~/Content/upc/ui/bb-icon3.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/upc/ui-ultra/css/ultra.css?v=3900.19.0-rel.35+4040100" id="css_0">
    <link rel="stylesheet" type="text/css" href="~/Content/upc/webapps/vtbe-tinymce/css/prism/prism.css?v=3900.19.0-rel.35+4040100" id="css_1">
    <link rel="stylesheet" type="text/css" href="~/Content/upc/webapps/videointegration/css/video-integration.css?v=3900.19.0-rel.35+4040100_3900.19.0-rel.35+4040100" id="css_2">
    <style type="text/css">
        @@charset "utf-8";

        /*------------main quick changes-----------*/
        /*login button*/
        input#entry-login {
            background-color: #ff0000;
        }

        /*background image*/
    body#learn-oe-body { background: url('../../Content/upc/bbcswebdav/institution/Branding/New_Login/fondo-bb.jpg') no-repeat center center fixed; }

        /*background color left block*/
        div#loginblockmain {
            background-color: white;
        }

        /*Background color right block*/
        div#contentblock {
            background-color: #0000007a;
            color: #fff;
            border-radius: 0px 10px 10px 0px;
        }

        /*Create a new account*/
        .trial-registration a {
            color: #ff0000;
        }

        /*Hide or show Forgot Password*/
        .collapse:not(.show) {
            display: none;
        }

        .login-form-footer .text-right a {
            color: #ff0000;

        }

        /*Course Catalogue Button*/
        div#ultraCourseCatalogLink a {
            color: #fff !important;
            background-color: #ff0000;
        }

        /*-----------main body blocks-----------*/
        div#mainblocks {
            max-width: 800px;
            margin: 5% auto;
        }

        div#mainblocks .row {
            margin: 0;
        }

        div#loginblockmain,
        div#contentblock {
            padding: 2em;
        }

        body#learn-oe-body {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        /*-------------Login block-------------*/
        .bb-login #login-block {
            margin: 0 auto;
            min-width: 15rem;
            max-width: 20rem;
        }

        .bb-login .login-form ul input[type='text'],
        .bb-login .login-form ul input[type='password'] {
            border: 1px solid black;
            border-radius: 2em;
        }

        .bb-login .login-form ul input[type='text']:focus,
        .bb-login .login-form ul input[type='password']:focus {
            border-bottom-color: black;
        }

        .bb-login .login-form ul label.float-above {
            margin-top: -6px;
            color: #272726;
        }

        .bb-login .login-form ul label {
            margin-left: 10px;
            width: 100%;
            margin-top: 6px;
            left: 0;
        }

        input#entry-login {
            margin-bottom: 2em;
            border-radius: 2em;
            margin-top: 1em;
            width: 100%;
            max-width: 70%;
            color: #fff;
            border: 0px;
            box-shadow: 0 0 0 0px #fff inset;
            font-family: 'Oswald', sans-serif;
        }

    div#loginblockmain { background: url('../../Content/upc/bbcswebdav/institution/Branding/New_Login/bblearn_2011_bg.png') repeat 0 0; border-radius: 10px 10px 10px 10px; }

        .bb-login .login-form ul label {
            color: black;
        }

        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="month"],
        input[type="week"],
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="tel"],
        input[type="time"],
        input[type="url"],
        input[type="color"],
        textarea {
            padding: 1rem;
        }

        .bb-login .login-form ul input[type='text'],
        .bb-login .login-form ul input[type='password'] {
            color: black;
        }

        .trial-registration {
            margin-top: 0;
        }

        .login-form-footer .small-6 {
            width: 100% !important;
        }

        .login-form-footer .text-right a {
            text-align: center;
            display: block;
            font-size: 16px;
            width: 100%;
            margin-bottom: 10px;
        }

        div#ultraCourseCatalogLink a {
            text-decoration: none !important;
            padding: 1em 2em;
            margin-bottom: 10px;
            border-radius: 2em;
            font-size: 14px !important;
        }

        div#ultraCourseCatalogLink {
            margin-bottom: 2em;
        }

        /*------------logo-----------------*/
        h1.login-logo.new-logo.customized-logo {
            margin: 5% 0;
        }

        .bb-login .new-logo.customized-logo img {
            width: 100%;
            height: auto;
            border-radius: 0;
            max-width: 70%;
        }

        /*-------------Announcements------------*/
        .bb-login .login-page-announcements {
            margin-top: 0;
            margin-bottom: 2em;
        }

        .bb-login .login-page-announcements #loginAnnouncements>ul>li {
            width: auto;
            border-radius: 2px;
            background-color: #2125291a !important;
            color: #212529;
            border: 1px solid white;
            border-radius: 2em;
            padding: 20px !important;
            max-width: auto;
            display: block;
            padding-top: 24px;
        }

        .bb-login .login-page-announcements #loginAnnouncements>ul>li strong {
            padding: 0;
        }

        div#loginAnnouncements {
            max-height: 210px;
        }

        a.appimg img {
            width: 25%;
            margin: 0 0% !important;
        }

        .bbResources h1 {
            color: #fff;
            font-family: 'Oswald', sans-serif;
        }

        .bb-login .login-page-announcements #loginAnnouncements>ul>li .announcementDate {
            display: block;
            flex: 0 0 100%;
            text-align: justify;
            padding-top: 0;
        }

        .vtbegenerated p {
            font-family: inherit;
            font-weight: 400;
            font-size: 12px !important;
            line-height: 1.6;
            margin-bottom: 1.25rem;
            text-rendering: optimizeLegibility;
            text-align: justify;
        }

        .bb-login .login-page-announcements #loginAnnouncements>ul>li .vtbegenerated {
            max-height: auto;
            padding-right: 0px;
            margin-top: 15px;
            overflow-y: initial;
            flex: 0 0 100%;
        }

        /*------------Footer-----------*/
        .bb-login #gatewayButtons {
            margin-bottom: 0;
        }

        div#gatewayButtons ul {
            margin-bottom: 0;
        }

        div#gatewayButtons ul li a {
            color: white !important;
            font-weight: bold;
        }

        .bb-login #copyright {
            margin-top: 15px;
            color: white;
        }

        #footernew {
            bottom: 0;
            text-align: center;
        }

        div#loginOptions,
        div#copyright {
            margin: 0px auto;
        }

        /*---------Browser Edits-------*/
        .row:before,
        .row:after {
            display: flex !important;
        }

        /*-----------media queries-----------*/
        @@media (max-width: 576px) {
            div#loginblockmain {
                margin: 0;
            }
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #btn-mas {
            display: none;
        }

        .sticky {
            position: fixed;
            right: 0px;
            top: 230px;

        }

        .redes a,
        .icon-mas2 {
            display: block;
            text-decoration: none;
            background: #ffffff;
            color: #fff;
            width: 150px;
            height: 55px;
            line-height: 55px;
            text-align: center;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
            transition: all 500ms ease;
            border-radius: 10px 0px 0px 10px;
            font-family: 'Oswald', sans-serif;
        }

        .redes a:hover {
            background: rgb(47, 47, 47);
            color: #ffffff;
        }

        .redes a {
            margin-bottom: -15px;
            opacity: 0;
            visibility: hidden;
        }

        #btn-mas:checked~.redes a {
            margin-bottom: 10px;
            opacity: 1;
            visibility: visible;
        }

        .icon-mas2 {
            cursor: pointer;
            background: #ff0000;
            font-size: 12px;
            width: 150px;
        }

        #btn-mas:checked~.btn-mas .icon-mas2 {
            font-size: 12px;
        }

        a.pregrado {
            color: #ff0000;
            height: 50px;
            font-size: 15px;
        }

        a.posgrado {
            color: black;
            height: 50px;
            font-size: 15px;
        }

        .correo {
            height: 50px;
            color: #fff !important;
            text-align: center;
            text-decoration: none !important;
        }

        a.appimg img {
            width: 30%;
            margin: 0 0% !important;
        }
    </style>

    <link rel="stylesheet" type="text/css" media="print" href="~/Content/upc/ui/styles/print.css?v=3900.19.0-rel.35+4040100">
    <script type="text/javascript" src="~/Content/upc/javascript/i18n.js?v=3900.19.0-rel.35+4040100"></script>
    <script language='javascript' type='text/javascript'>

        var JS_RESOURCES = new Object();

        function _init_bundle_JS_RESOURCES() {

            JS_RESOURCES['validation.email'] = 'Se debe introducir una dirección de correo electrónico válida (por ejemplo, info@blackboard.com).';
            JS_RESOURCES['validation.radio.required'] = 'Para continuar, realice una selección.';
            JS_RESOURCES['assessment.incomplete.confirm.backtrackProhibited.survey'] = 'Las siguientes preguntas podrían estar incompletas:\n {0}\nHaga clic en Cancelar para volver a la encuesta. Haga clic en Aceptar para guardar la respuesta incompleta.';
            JS_RESOURCES['common.list.separator.comma'] = '{0}, {1}';
            JS_RESOURCES['active.filter.search.terms'] = 'Términos de búsqueda';
            JS_RESOURCES['validation.points.decimal.places.error.location'] = 'Los valores en puntos pueden tener 5 lugares decimales como máximo: {0}.';
            JS_RESOURCES['validation.maximum_length.plural'] = 'No debe contener más de {1} caracteres: {0}.\nReduzca el tamaño de la entrada en {2} caracteres.';
            JS_RESOURCES['assessment.incomplete.confirm.backtrackProhibited'] = 'Las siguientes preguntas podrían estar incompletas:\n {0}\nHaga clic en Cancelar para volver a al examen Haga clic en Aceptar para guardar la respuesta incompleta.';
            JS_RESOURCES['validation.multiSelect.minItems'] = 'El cuadro de multiselección debe contener al menos {0} elementos.';
            JS_RESOURCES['validation.cmp_field.required'] = 'Se debe proporcionar un valor de {0}\ncuando el campo {1} no está vacío';
            JS_RESOURCES['warning.email'] = 'La dirección de correo electrónico es un campo recomendado. Los usuarios no podrán utilizar ciertas partes del sistema sin una dirección de correo electrónico.';
            JS_RESOURCES['validation.maximum_length.no_name.singular'] = 'No debe contener más de {0} caracteres.\nReducir el tamaño de la entrada en un carácter.';
            JS_RESOURCES['validation.multiSelect.maxItems'] = 'El cuadro de multiselección no debe contener más de {0} elementos.';
            JS_RESOURCES['validation.number'] = 'Se debe introducir un valor numérico válido: {0}.';
            JS_RESOURCES['validation.date.required'] = 'Es necesario proporcionar un valor de fecha completo: {0}.';
            JS_RESOURCES['portalmodule.section.remove'] = '¿Eliminar: {0}?';
            JS_RESOURCES['show.helptext'] = 'Mostrar texto de ayuda';
            JS_RESOURCES['validation.password'] = 'La contraseña no puede estar vacía ni contener solo espacios.';
            JS_RESOURCES['validation.percent'] = 'Se debe introducir un valor de porcentaje entre 0 y 100 válido.';
            JS_RESOURCES['validation.mismatch'] = 'Los valores que introdujo no coinciden: {0}.\nConfirmar: {0}.';
            JS_RESOURCES['validation.maximum_length.no_name.plural'] = 'No debe contener más de {0} caracteres.\nReducir {1} caracteres el tamaño de la entrada.';
            JS_RESOURCES['validation.invalid_value'] = 'Se ha proporcionado un valor numérico no válido: {0}.';
            JS_RESOURCES['field_name.substitute'] = '\'\'Campo de entrada {0}.';
            JS_RESOURCES['validation.required'] = 'Es necesario suministrar un valor: {0}';
            JS_RESOURCES['active.filter.free.form.text.blank'] = 'Especifique un valor para el campo de texto de búsqueda.';
            JS_RESOURCES['validate.alignment.missing.content'] = 'Ha seleccionado las alineaciones pero no ha seleccionado ningún contenido alineable que copiar.';
            JS_RESOURCES['validation.system_role.reserve'] = '"bb" no se permite al comienzo de una ID de rol.';
            JS_RESOURCES['validation.date_past'] = 'La fecha de finalización no puede ser anterior a la fecha de inicio.';
            JS_RESOURCES['validation.invalid_chars'] = 'Contiene caracteres no válidos: {0}.\nElimine estos caracteres: {1}';
            JS_RESOURCES['confirm.delete_item_value'] = 'Este elemento {0} se eliminará. ¿Desea continuar?';
            JS_RESOURCES['hide.helptext'] = 'Ocultar texto de ayuda';
            JS_RESOURCES['validate.range.lessthen.str'] = 'Menos de {0}';
            JS_RESOURCES['validation.date_past.confirm'] = 'La hora indicada ya ha pasado.\n¿Desea continuar con esta hora?';
            JS_RESOURCES['validate.login.invalid.username.or.pass'] = 'Introduzca un nombre de usuario y una contraseña.';
            JS_RESOURCES['validation.negative'] = 'Se debe introducir un valor no negativo válido: {0}.';
            JS_RESOURCES['validation.url'] = 'Se debe introducir una dirección URL válida (por ejemplo, http://www.miuniversidad.es).';
            JS_RESOURCES['validate.range.overlap'] = 'criterios ({0}) se superpone a los criterios ({1}).';
            JS_RESOURCES['validate.range.between.str'] = 'Entre {0} y {1}';
            JS_RESOURCES['validation.portal.tool.items.remove'] = '¿Eliminar: {0}?';
            JS_RESOURCES['validation.association.refresh.confirm'] = 'Es posible que la información de los elementos asociados se haya actualizado.\nHaga clic en "Aceptar" para actualizar la lista o haga clic en "Cancelar" para continuar en la página actual.';
            JS_RESOURCES['validate.enrolloptions.error.codeconflict'] = 'La opción Inscripción por código de acceso no es compatible con la selección de inscripción dirigida por {instructor}.';
            JS_RESOURCES['validation.points.decimal.places'] = 'Los valores en puntos pueden tener 5 lugares decimales como máximo.';
            JS_RESOURCES['validation.option.required'] = 'Debe seleccionar como mínimo una opción de la lista.';
            JS_RESOURCES['list.checkToSelectAllItems'] = 'Para seleccionar todos los elementos, active esta casilla';
            JS_RESOURCES['active.filter.changed.alert'] = 'los criterios ahora contienen';
            JS_RESOURCES['vtbe.artifact.footer.validate.nameIfSaveArtifact'] = 'Especifique un nombre para guardar como objeto reutilizable.';
            JS_RESOURCES['validate.invalidate.number'] = 'Introduzca un número válido en lugar de {0}.';
            JS_RESOURCES['validation.valid_course_id'] = 'La ID del curso contiene caracteres ilegales o caracteres multibyte.';
            JS_RESOURCES['assessment.incomplete.confirm'] = 'Las siguientes preguntas podrían estar incompletas:\n {0}\nHaga clic en Cancelar para volver a al examen Haga clic en Aceptar para enviar la evaluación.';
            JS_RESOURCES['validate.enrolloptions.error.nooption'] = 'Advertencia: debe seleccionar la opción Dirigida por {instructor} o Autoinscripción.';
            JS_RESOURCES['validation.date_equal'] = 'La fecha de inicio no puede ser la misma que la fecha de finalización.';
            JS_RESOURCES['validation.cmp_field.rejected'] = 'No se puede utilizar el {0} sin un valor {1} correspondiente.';
            JS_RESOURCES['validation.time.required'] = 'Es necesario proporcionar un valor de hora completo: {0}.';
            JS_RESOURCES['validation.integer_number'] = 'Se debe introducir un valor numérico entero válido: {0}.';
            JS_RESOURCES['validation.maximum_length'] = 'No debe contener más de 255 caracteres';
            JS_RESOURCES['validate.enrolloptions.error.emailrequestconflict'] = 'La opción de inscripción por correo electrónico seleccionada no es compatible con la selección de autoinscripción.';
            JS_RESOURCES['invalid_char.space'] = 'espacio';
            JS_RESOURCES['validate.range.morethen.str'] = 'Más de {0}';
            JS_RESOURCES['notification.submit'] = 'Esta acción ya fue enviada.\nEspere hasta que haya finalizado la acción.';
            JS_RESOURCES['validation.plain_text.confirm'] = 'Para mostrar las ecuaciones correctamente en este documento, se debe seleccionar formato Texto inteligente o HTML.\nHaga clic en "Aceptar" para guardar en formato Solo texto seleccionado, o haga clic en "Cancelar" para seleccionar un formato nuevo.';
            JS_RESOURCES['invalid_char.comma'] = 'coma';
            JS_RESOURCES['validation.allow_negtive.percent'] = 'Debe introducirse un valor válido entre -100 y 100.';
            JS_RESOURCES['confirm.remove_item'] = 'Esta acción es definitiva y no se puede deshacer. ¿Desea continuar?';
            JS_RESOURCES['list.uncheckToDeselectAllItems'] = 'Para anular la selección de todos los elementos, desactive esta casilla';
            JS_RESOURCES['validation.maximum_length.singular'] = 'No debe contener más de {1} caracteres: {0}.\nReduzca el tamaño de la entrada en un carácter.';
            JS_RESOURCES['validation.rubric.decimalplaces'] = 'Demasiados espacios decimales. El máximo es 5.';
            JS_RESOURCES['validation.minimum_length'] = 'Se debe introducir un mínimo de {0} caracteres: {1}.';
            JS_RESOURCES['vtbe.artifact.footer.validate.saveLocationIfSaveArtifact'] = 'Especifique una ubicación para el objeto reutilizable.';
            JS_RESOURCES['assessment.incomplete.confirm.survey'] = 'Las siguientes preguntas podrían estar incompletas:\n {0}\nHaga clic en Cancelar para volver a la encuesta. Haga clic en Aceptar para enviar la evaluación.';
            JS_RESOURCES['validation.image_type'] = 'Tipo de imagen desconocido: {0}. Es posible que la imagen no se visualice correctamente.';
            JS_RESOURCES['validate.invalidate.number.space'] = 'Espacio';

            JS_RESOURCES.getString = i18n_get_string;
            JS_RESOURCES.getFormattedString = i18n_get_formatted_string;

        }

        _init_bundle_JS_RESOURCES();

    </script>
    <script language='javascript' type='text/javascript'>

        var LOCALE_SETTINGS = new Object();

        function _init_bundle_LOCALE_SETTINGS() {

            LOCALE_SETTINGS['LOCALE_SETTINGS.ADDRESS_FIELD_ORDER'] = 'STREET_1 STREET_2 CITY STATE ZIP_CODE COUNTRY';
            LOCALE_SETTINGS['number_format.exponent'] = 'eE';
            LOCALE_SETTINGS['LOCALE_SETTINGS.NAME.COLUMN.2'] = '{1}';
            LOCALE_SETTINGS['LOCALE_SETTINGS.YEAR_CHARACTER.03255'] = '';
            LOCALE_SETTINGS['BBI18N.SOLARIS_CHARSET'] = 'ISO8859-1';
            LOCALE_SETTINGS['LOCALE_SETTINGS.NAME.COLUMN.1'] = '{0}';
            LOCALE_SETTINGS['LOCALE_SETTINGS.CALENDAR_COLUMN_FORMAT_MONTH.03255'] = 'ddd';
            LOCALE_SETTINGS['LOCALE_SETTINGS.internal_date_format'] = 'dd/MM/yy';
            LOCALE_SETTINGS['LOCALE_SETTINGS.CALENDAR_TITLE_FORMAT_MONTH.03259'] = 'MMMM \'de\' yyyy';
            LOCALE_SETTINGS['LOCALE_SETTINGS.TIME_ORDER.00519'] = 'HMP';
            LOCALE_SETTINGS['float.format'] = '^([0-9]{1,3}(\\.[0-9]{3})*(\\,[0-9]+)?|\\,[0-9]+)?$';
            LOCALE_SETTINGS['LOCALE_SETTINGS.NAME.SORT_COLUMN'] = 'familyName';
            LOCALE_SETTINGS['LOCALE_SETTINGS.SHORT'] = '{1} {3}';
            LOCALE_SETTINGS['LOCALE_SETTINGS.DAY_SHORT.02097'] = 'LUN MAR MIÉ JUE VIE SÁB DOM';
            LOCALE_SETTINGS['float.allow.negative.format'] = '^((([-]?[0-9]{1,3}(\\.[0-9]{3})*)|[-]?[0-9]*)(\\,[0-9]+)?|\\,[0-9]+)?$';
            LOCALE_SETTINGS['LOCALE_SETTINGS.CALENDAR_TYPE'] = 'GREGORIAN';
            LOCALE_SETTINGS['LOCALE_SETTINGS.GIVEN_INITIAL_FAMILY_NAME'] = '{4} {3}';
            LOCALE_SETTINGS['efloat.format'] = '^[+-]?[0-9]*(\\,[0-9]+)?([eE][+-]?[0-9]+)?$';
            LOCALE_SETTINGS['LOCALE_SETTINGS.CALENDAR_TITLE_FORMAT_WEEK.03260'] = 'd[ MMM][ yyyy]{\'&#8212;\'d MMM \'de\' yyyy}';
            LOCALE_SETTINGS['LOCALE_SETTINGS.MONTH_FULL.02100'] = 'enero febrero marzo abril mayo junio julio agosto septiembre octubre noviembre diciembre';
            LOCALE_SETTINGS['LOCALE_SETTINGS.NUMBERS_HIJRI_LOCALIZED.00521'] = 'NO';
            LOCALE_SETTINGS['LOCALE_SETTINGS.LONG'] = '{0} {1} {2} {3}';
            LOCALE_SETTINGS['LOCALE_SETTINGS.WORK_FIELD_ORDER'] = 'JOB_TITLE DEPARTMENT COMPANY B_PHONE_1 B_PHONE_2 B_FAX';
            LOCALE_SETTINGS['LOCALE_SETTINGS.MONTH_FULL_HIJRI.02100'] = 'Muḥarram,Ṣafar,Rabīʿ\'al-Awwal,Rabīʿ\'ath-Thānī,Jumādā\'al-Ūlā,Jumādā\'ath-Thāniya,Rajab,Shaʿbān,Ramaḍān,Shawwāl,Dhū\'al-Qaʿda,Dhū\'al-Ḥijja';
            LOCALE_SETTINGS['LOCALE_SETTINGS.GREETING'] = 'Bienvenido, {1}';
            LOCALE_SETTINGS['LOCALE_SETTINGS.MONTH_SHORT.00520'] = 'ene feb mar abr may jun jul ago sep oct nov dic';
            LOCALE_SETTINGS['number_format.thousands_sep'] = '.';
            LOCALE_SETTINGS['LOCALE_SETTINGS.CALENDAR_COLUMN_FORMAT_WEEK.03256'] = 'ddd, d/M';
            LOCALE_SETTINGS['LOCALE_SETTINGS.SHORT_SURNAME'] = '{3}, {1}';
            LOCALE_SETTINGS['LOCALE_SETTINGS.AM_PM.00522'] = 'AM PM';
            LOCALE_SETTINGS['number_format.negative_prefix'] = '-';
            LOCALE_SETTINGS['LOCALE_SETTINGS.DATE_ORDER.00519'] = 'DMY';
            LOCALE_SETTINGS['LOCALE_SETTINGS.PHONE_FIELD_ORDER'] = 'H_PHONE_1 H_PHONE_2 H_FAX M_PHONE';
            LOCALE_SETTINGS['LOCALE_SETTINGS.DAY_MIN.02099'] = 'lun mar mié jue vie sáb dom';
            LOCALE_SETTINGS['LOCALE_SETTINGS.24HR_SUPPORT.03208'] = '1';
            LOCALE_SETTINGS['LOCALE_SETTINGS.FIRST_DAY_OF_WEEK.03207'] = '1';
            LOCALE_SETTINGS['BBI18N.WINDOWS_CHARSET'] = 'ISO-8859-1';
            LOCALE_SETTINGS['LOCALE_SETTINGS.MONTH_SHORT_HIJRI.00520'] = 'Muḥarram,Ṣafar,Rabīʿ\'I,Rabīʿ\'II,Jumādā\'I,Jumādā\'II,Rajab,Shaʿbān,Ramaḍān,Shawwāl,Dhū\'al-Qaʿda,Dhū\'al-Ḥijja';
            LOCALE_SETTINGS['BBI18N.LINUX_CHARSET'] = 'iso88591';
            LOCALE_SETTINGS['LOCALE_SETTINGS.DAY_CHARACTER.03253'] = '';
            LOCALE_SETTINGS['LOCALE_SETTINGS.MONTH_CHARACTER.03254'] = '';
            LOCALE_SETTINGS['LOCALE_SETTINGS.NAME.COLUMN_ORDER'] = 'title,givenName,middleName,familyName,suffix,otherName';
            LOCALE_SETTINGS['number_format.decimal_point'] = ',';
            LOCALE_SETTINGS['LOCALE_SETTINGS.CALENDAR_TITLE_FORMAT_DAY.03258'] = 'dddd, d \'de\' MMM \'de\' yyyy';
            LOCALE_SETTINGS['LOCALE_SETTINGS.DAYS.00521'] = '01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31';
            LOCALE_SETTINGS['LOCALE_SETTINGS.OVERRIDE_LONG_TIME_WITH_FULL'] = 'false';
            LOCALE_SETTINGS['LOCALE_SETTINGS.DAY_FULL.02098'] = 'Lunes Martes Miércoles Jueves Viernes Sábado Domingo';
            LOCALE_SETTINGS['LOCALE_SETTINGS.date_display_pattern'] = 'DD/MM/AA';
            LOCALE_SETTINGS['LOCALE_SETTINGS.EXTENDED_SURNAME'] = '{3}';
            LOCALE_SETTINGS['thousand.sep.format'] = '\\.';
            LOCALE_SETTINGS['LOCALE_SETTINGS.NUMBERS_HIJRI.00521'] = '0 1 2 3 4 5 6 7 8 9';
            LOCALE_SETTINGS['LOCALE_SETTINGS.ADDRESS_ORDER.07832'] = 'street,city,region,postal_code,country';
            LOCALE_SETTINGS['number_format.negative_suffix'] = '';
            LOCALE_SETTINGS['LOCALE_SETTINGS.CALENDAR_COLUMN_FORMAT_DAY.03257'] = 'dddd, d/M';

            LOCALE_SETTINGS.getString = i18n_get_string;
            LOCALE_SETTINGS.getFormattedString = i18n_get_formatted_string;

        }

        _init_bundle_LOCALE_SETTINGS();

    </script>
    
    <script type="text/javascript" src="~/Content/upc/groupjs/0B1FC17DEDC3A018704EC34651A58AB9.js?v=3900.19.0-rel.35+4040100"></script>
    <script type="text/javascript" src="~/Content/upc/ui-ultra/js/hide-focus-outline.js?v=3900.19.0-rel.35+4040100"></script>
    <script type="text/javascript" src="~/Content/upc/ui-ultra/js/login-page.js?v=3900.19.0-rel.35+4040100"></script>
    <script type="text/javascript" src="~/Content/upc/groupjs/AC879C98C04B4D84F7C9F97BBF61F4D8.js?v=3900.19.0-rel.35+4040100"></script>
</head>
<body id="learn-oe-body" class="bb-login hide-focus-outline">
    <!-- If you wanted to call your own css file and keep the css outside of the login.jsp file you could call it from here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap" rel="stylesheet">
    <!-- INSERT YOUR CUSTOM CSS IN THIS SECTION IF PROVIDING INLINE CSS. The bbng:cssBlock tag does not come in the default template file. You need to add it separately -->
    <!-- END OF CUSTOM CSS -->
    <div class="container" id="mainblocks">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-12" id="loginblockmain">
                <div id="login-block"
                     class="loginblocks small-11 small-centered medium-12 medium-centered text-center columns">
                    <!-- This is the default Blackboard logo which appears in/above the login block -->
                    <h1 class="login-logo new-logo customized-logo">
                        <span>Blackboard Learn ™</span>
                        <img src="~/Content/upc/branding/_1_1/loginLogo/CustomLoginLogo.png?m=kox2ycsx" alt="" />
                    </h1>
                    <!-- the "login-form" contains the username and password fields in the login block -->
                    <div id="login-form" class="login-form">
                        
                            @Html.ValidationSummary(true, "", new { @class = "receipt bad editmode alert-box alert" })
                        

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { onsubmit = "return validate_form( this, false, true );" }))
                        {

                            @Html.AntiForgeryToken()
                                <script type="text/javascript">
                                    function login_openForgotPassword(url) {
                                        var passwordWin = window.open(url, 'forgotPasswordWindow', 'menubar=1,resizable=1,scrollbars=1,status=1,width=850,height=480');
                                        passwordWin.focus();
                                    }
                                </script>
                                <div id="loginFormFields" class="clearfix">
                                    <ul id="loginFormList" class="clearfix">
                                        <li class="clearfix">
                                            @Html.LabelFor(m => m.user_id)
                                            @Html.TextBoxFor(m => m.user_id, new { size = "25", maxlength = "50" })
                                            @Html.ValidationMessageFor(m => m.user_id, "", new { @class = "text-danger" })
                                        </li>
                                        <li class="clearfix">
                                            @Html.LabelFor(m => m.password)
                                            @Html.PasswordFor(m => m.password, new { autocomplete = "off", size = "25" })
                                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                                        </li>
                                        <li class="clearfix">
                                            <input id="entry-login" type="submit" value="Iniciar sesión" name="login"
                                                   class="button expand inverse outline">
                                        </li>
                                    </ul>

                                    <div class="login-form-footer row collapse">
                                        <div class="stay-signed-in small-6 columns text-left">
                                        </div>
                                        <div class="small-6 columns text-right">
                                            <a href="https://aulavirtual.upc.edu.pe/webapps/blackboard/password">
                                                ¿Ha
                                                olvidado su contraseña?
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <input type="hidden" name="action" value="login">
                                <input type="hidden" name="new_loc" value="">
                                <input type="hidden" name="blackboard.platform.security.NonceUtil.nonce"
                                       value="ac20ce67-0646-4a63-a4d4-c3e83e971cb4">
                            
                        }
                        </div>
                    <a style="color:#737373; text-decoration:none;" href="https://micuenta.upc.edu.pe/Home/Index?_f=1"
                       target="_blank">
                        <p style="font-family: 'Oswald', sans-serif; text-transform: uppercase; text-align: center;">
                            ¿OLVIDASTE TU contraseÑa?<br>
                        </p>
                    </a>
                </div>
                <!-- login-page-announcements contains system announcements displayed on the login page. This appears below the "login-block" by default. -->

                <div class="login-page-announcements">
                    <div id="loginAnnouncements">
                        <h3>Anuncios de sistema</h3>
                        <ul>
                            <li>
                                <strong>COVID-19: Si te cuidas, nos cuidamos todos</strong>
                                <em class="announcementDate">
                                    (miércoles 18 de agosto de 2021)
                                </em>
                                <br>
                                <div class="vtbegenerated">
                                    <p>Recuerda que si tú o algún familiar directo presentan síntomas, o se encuentran enfermos(as) con COVID-19, por favor escribe un correo informando a: <a href="mailto:covid_alumnosUPC@upc.pe">covid_alumnosUPC@upc.pe</a>, y también coméntaselo a tu director de carrera.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="bbResources">
                    <div style="text-align: center;" class="blockBTNlogin">
                        <p style="font-family: 'Oswald', sans-serif;">Disponible en iOS o Android:</p>
                        <p>
                            <a class="appimg" href="https://itunes.apple.com/app/blackboard-app/id950424861?mt=8"
                               target="_blank">
                                <img src="~/Content/upc/bbcswebdav/institution/Branding/New_Login/appstore.png" alt="iTunes" width="70"
                                     height="25" style="margin: 5px;">
                            </a>
                            <a class="appimg"
                               href="https://play.google.com/store/apps/details?id=com.blackboard.android.bbstudent&amp;hl=en"
                               target="_blank">
                                <img src="~/Content/upc/bbcswebdav/institution/Branding/New_Login/google-play.png" alt="Google Play"
                                     width="70" height="25" style="margin: 5px;">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- this class contains the course catalog styling if course catalog is enabled. -->
            <div class="container" id="footernew">
                <div class="small-12 small-centered text-center columns">

                    <!-- this calls the copyright notice -->
                    <div id="copyright" class="clearfix">
                        <script type="text/javascript">
                            function showCopyrightDetail() {
                                if (document.getElementById('copyrightDetail').style.display == "none" || document.getElementById('copyrightDetail').style.display == "") { document.getElementById('copyrightDetail').style.display = "block"; }
                                else { document.getElementById('copyrightDetail').style.display = "none"; }
                            }
                        </script>
                        <div class="newCopyright">
                            <div class="legal">
                                © 1997-2021 Blackboard Inc. Todos los derechos reservados.
                            </div>
                        </div>
                    </div>
                    <div id="loginOptions">
                        <div id="gatewayButtons">
                            <ul class="inline-list">
                                <li id="help-link">
                                    <a href="https://help.blackboard.com/es-es" target="_blank"
                                       title="Ayuda de inicio de sesión de Bb">Ayuda</a>
                                </li>

                                <li id="privacy-link">
                                    <a href="https://aulavirtual.upc.edu.pe/#"
                                       onclick="showPrivacyPolicy();"
                                       title="Privacidad y condiciones de uso">Privacidad y condiciones de uso</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

    <script type="text/javascript">
        function loadLoginPage() {
            if (top != self) {
                top.location.replace(self.location.href);
            }
            if (document.forms.login.user_id != undefined) {
                document.forms.login.user_id.focus();
            }
            setTimeout("triggerScreenreaderAlert()", 500);
        }

        function triggerScreenreaderAlert() {
            if (document.getElementById('loginErrorMessage')) {
                $('loginErrorMessage').update($('loginErrorMessage').innerHTML);
            }
        }
    </script>
</body>
</html>




