@using Microsoft.AspNet.Identity
@using GSAV.Entity.Objects
@using GSAV.Entity.Util
@{
    /**/

    ViewBag.Title = "Home";
}
<div class="institution-page-container">
    <header ng-class="::{'color-selection-preview-mode': previewMode, 'color-selection-live-mode': !previewMode}"
            class="base-header themed-background-primary-medium-down color-selection-live-mode"
            ng-multi-transclude-controller="" ng-attr-aria-hidden="{{ (previewMode ? 'true' : 'false') }}"
            page-title-key="base.nav.institutionPage" header-not-skip-target="true" aria-hidden="false">
        <section ng-class="::{'show-for-medium-down': !previewMode}" aria-labelledby="menuId"
                 class="show-for-medium-down">
            <button ng-class="::{'left-off-canvas-toggle': !previewMode, 'menu-toggle': !previewMode}"
                    class="standard-button dark-background themed-background-primary-medium-down left-off-canvas-toggle menu-toggle"
                    ng-attr-tabindex="{{ (previewMode ? '-1' : '') }}" analytics-id="base.menu.button" tabindex="">
                <bb-svg-icon size="small" icon="main-menu">
                    <svg class="svg-icon svg-icon-directive small-icon default directional-icon" focusable="false"
                         aria-hidden="true" bb-cache-compilation="svg-icon">
                        <use xlink:href="https://aulavirtual.upc.edu.pe/ultra/institution-page#icon-small-main-menu"
                             ng-href="https://aulavirtual.upc.edu.pe/ultra/institution-page#icon-small-main-menu"></use>
                    </svg>
                </bb-svg-icon>
                <span class="sr-only" id="menuId" bb-translate="">Menú</span>
            </button>
        </section>
        <h1 class="page-title a themed-background-primary-medium-down" id="main-heading" bb-translate=""
            tabindex="-1"
            ng-class="{'has-filter': hasFilter(), 'js-base-page-skip-link-target': !headerNotSkipTarget()}">
            Página de la institución
        </h1>
        <div ng-multi-transclude="base-header-tools" class="base-header-tools-transclude"></div>
    </header>
    <institution-page-home variant-id="variantId">
        <div>
            <div class="ip-app">
                <div class="index-container">
                    <div class="flex-page-container">
                        <div id="home-modules-section" class="flex-page-content">
                            <div class="banner"
                                 style="background-image: url(&quot;https://aulavirtual.upc.edu.pe/bbcswebdav/xid-274840790_1&quot;);">
                                <div class="banner__logo-container">
                                    <div class="banner__logo"
                                         style="background-image: url(&quot;https://aulavirtual.upc.edu.pe/bbcswebdav/xid-274840792_1&quot;);">
                                    </div>
                                </div>
                                <h2 class="banner__title"><span class="banner__title-text"></span></h2>
                            </div>
                            <div class="modules-container">
                                <div>
                                    <div class="dnd-drag-placeholder"></div>
                                    <div>
                                        <div class="module-section" tabindex="-1">
                                            <div class="insert-placeholder first-insert-placeholder"></div>
                                            <div tabindex="-1" class="key-insert-placeholder"></div>
                                            <div class="item-container">
                                                <div id="dnd-eb95b5fd-11f1-4ec8-a96e-ec1118587cfa">
                                                    <div class="module-wrapper">
                                                        <div class="module-wrapper__content drag-drop-item__highlight-area">
                                                            <div class="module-wrapper__header">
                                                                <div class="module-wrapper__header-left">
                                                                    <h3 class="subheader module-wrapper__title">Aprendizaje Digital</h3>
                                                                </div>
                                                            </div>
                                                            <div class="image-links-component__container-left">
                                                                <div class="image-carousel-component">
                                                                    <div class="module-overview-component full-width"
                                                                         style="background-image: url(&quot;https://aulavirtual.upc.edu.pe/bbcswebdav/xid-295177678_1&quot;);">
                                                                    </div>
                                                                    <div class="image-carousel-component__indicator-container"></div>
                                                                </div>
                                                                <div class="link-list-component link-list-image-left">
                                                                    <div class="link-list-component__column">
                                                                        <ul class="link-list-component__list">
                                                                            <li class="link-list-component__list-item">
                                                                                <a href="https://bit.ly/3CUKgGi" rel="noopener noreferrer"
                                                                                   target="_blank" role="link"
                                                                                   class="link-list-component__link -black"
                                                                                   data-analytics-id="institutionPage.home.homeModuleSection.moduleItem.imageModule.imageOrientationLeft.linkList.link">
                                                                                    Asiste
                                                                                    a la única sesión introductoria de tu curso electivo
                                                                                </a>
                                                                            </li>
                                                                            <li class="link-list-component__list-item">
                                                                                <a href="https://cerbero.upc.edu.pe/apps/gmailingpregrado/Mailing.aspx?idMailing=33701&amp;idTele=1"
                                                                                   rel="noopener noreferrer" target="_blank" role="link"
                                                                                   class="link-list-component__link -black"
                                                                                   data-analytics-id="institutionPage.home.homeModuleSection.moduleItem.imageModule.imageOrientationLeft.linkList.link">
                                                                                    ¡Conoce
                                                                                    a tu Asistente de Aprendizaje a Distancia!
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="insert-placeholder"></div>
                                            <div class="drop-down-half" data-position="1"></div>
                                            <div class="drop-up-half" data-position="0"></div>
                                            <div class="drag-preview-item">
                                                <div class="module-list-preview">Aprendizaje Digital</div>
                                            </div>
                                            <div tabindex="-1" class="key-insert-placeholder"></div>
                                        </div>
                                        <div class="module-section" tabindex="-1">
                                            <div class="item-container">
                                                <div id="dnd-a37e42df-c8bd-44a5-85e8-822a40f7aad4">
                                                    <div class="module-wrapper">
                                                        <div class="module-wrapper__content drag-drop-item__highlight-area">
                                                            <div class="module-wrapper__header">
                                                                <div class="module-wrapper__header-left">
                                                                    <h3 class="subheader module-wrapper__title">
                                                                        Servicios Universitarios
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                            <div class="image-links-component__container-left">
                                                                <div class="image-carousel-component">
                                                                    <div class="module-overview-component full-width"
                                                                         style="background-image: url(&quot;https://aulavirtual.upc.edu.pe/bbcswebdav/xid-295224037_1&quot;);">
                                                                    </div>
                                                                    <div class="image-carousel-component__indicator-container"></div>
                                                                </div>
                                                                <div class="link-list-component link-list-image-left">
                                                                    <div class="link-list-component__column">
                                                                        <ul class="link-list-component__list">
                                                                            <li class="link-list-component__list-item">
                                                                                <a href="https://bit.ly/BibliotecaUPC" rel="noopener noreferrer"
                                                                                   target="_blank" role="link"
                                                                                   class="link-list-component__link -black"
                                                                                   data-analytics-id="institutionPage.home.homeModuleSection.moduleItem.imageModule.imageOrientationLeft.linkList.link">
                                                                                    ¡Los
                                                                                    servicios de la Biblioteca UPC más cerca de ti!
                                                                                </a>
                                                                            </li>
                                                                            <li class="link-list-component__list-item">
                                                                                <a href="https://cerbero.upc.edu.pe/apps/gmailingpregrado/Mailing.aspx?idMailing=33701&amp;idTele=1"
                                                                                   rel="noopener noreferrer" target="_blank" role="link"
                                                                                   class="link-list-component__link -black"
                                                                                   data-analytics-id="institutionPage.home.homeModuleSection.moduleItem.imageModule.imageOrientationLeft.linkList.link">
                                                                                    ¡Conoce
                                                                                    a tu Asistente de Aprendizaje a Distancia!
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="insert-placeholder"></div>
                                            <div class="drop-down-half" data-position="2"></div>
                                            <div class="drop-up-half" data-position="1"></div>
                                            <div class="drag-preview-item">
                                                <div class="module-list-preview">Servicios Universitarios</div>
                                            </div>
                                            <div tabindex="-1" class="key-insert-placeholder"></div>
                                        </div>
                                        <div class="module-section" tabindex="-1"><div class="item-container"><div id="dnd-d79c560e-aa0b-475e-8686-048b3002bb65"><div class="module-wrapper"><div class="module-wrapper__content drag-drop-item__highlight-area"><div class="module-wrapper__header"><div class="module-wrapper__header-left"><h3 class="subheader module-wrapper__title">VIDA UPC - Lista de Reproducción</h3></div></div><div class="content-component__container bb-editor-fill"><div class="bb-editor-root" role="presentation"><div class="keyboard-tooltip-container no-toolbar"><div role="presentation" class="bb-editor-container ql-container ql-disabled is-read-only"><div class="ql-editor bb-editor" data-gramm="false" contenteditable="false" id="bb-editor-textbox" aria-readonly="true"><p><br></p><div data-bbtype="video" data-bbfile="{&quot;alt&quot;:&quot;https://www.youtube.com/embed/NL2Nfq_XHCo?list=PLGS399syPVbeBRaQsSiXttC48trd8X9HV&quot;,&quot;src&quot;:&quot;https://www.youtube.com/embed/NL2Nfq_XHCo?list=PLGS399syPVbeBRaQsSiXttC48trd8X9HV&quot;}" contenteditable="false" class="wants-props-update"><div class="bb-video-embed"><iframe frameborder="0" allowfullscreen="" tabindex="0" src="https://www.youtube.com/embed/NL2Nfq_XHCo?list=PLGS399syPVbeBRaQsSiXttC48trd8X9HV" class="no-select"></iframe></div></div><p><br></p></div><div class="ql-clipboard" contenteditable="true" tabindex="-1" aria-hidden="true"></div></div></div></div></div></div></div></div></div><div tabindex="-1" class="key-insert-placeholder"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </institution-page-home>
    <div ui-view=""></div>
</div>

<div class="contentPaneWide clearfix tabbedPane portal" style="display:none;">

    <div class="paneTabs clearfix">
        <h2 class="hideoff" id="anonymous_element_2">Fichas</h2>
        <ul id="paneTabs" class="clearfix nav">
            <li class="active ">
                <a href="@Url.Content("/Home/Index")">Mi institución<span class="hideoff"> (ficha activa1)</span></a>
            </li>
            <li class=" ">
                <a href="@Url.Content("/Home/Index")">Panel de notificaciones</a>
            </li>

            <li class="" style="display:none;"></li>
            <li id="overflowLiId" class="sub" style="display: none;">
                <a href="#" id="overflowIconId" class="hiddenTabsLink"></a>
                <ul class="more" id="overflowULId"></ul>
            </li>
        </ul>
    </div>

    <div id="content" class="contentBox clearfix">
        <div class="container clearfix">

            <div class="row">
                <div class="col-md-12">

                    <div class="contentBox contentBox-edit clearfix">

                        <div class="containerPortal clearfix">

                            <div id="column0" class="column-3 clearfix" style="width: 20%;">

                                <div class="portlet clearfix  " id="module:_48_1">
                                    <!-- extid:portal/tools/my_institution: -->
                                    <div class="edit_controls">
                                    </div>

                                    @Html.Partial("_ToolsMenu")

                                </div>

                                <div class="portlet clearfix  " id="module:_522_1">

                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_5">
                                        <span class="moduleTitle">Videotutoriales y manuales de Aprendizaje Digital</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated"><p style="text-align: center;"><a href="https://www.youtube.com/playlist?list=PLontYaReEU1seUE3ACG3sEc3zR7Br7URU" target="_blank"><img src="~/Content/images/BMANUALES1.jpg" width="100%" height="100%" alt="videotutoriales" title="videotutoriales"></a></p></div>

                                    </div>
                                </div>
                            </div>

                            <div id="column1" class="column-3 clearfix" style="width: 45%;">
                                <div class="portlet clearfix  " id="module:_527_1">

                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_9">
                                        <span class="moduleTitle">Aprendizaje Digital: Recomendaciones y tips</span>
                                    </h2>
                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated">
                                            <div class="w3-content w3-section" style="max-width: 100%;" align="center">
                                                <a href="https://upc.facebook.com/groups/OneCampus.2017.2/permalink/2108476952803781/" target=" _blank">
                                                    <img alt="" class="mySlides"
                                                         src="http://beta.upc.edu.pe/tice/Modulo_BB/slides/img-a/b_onecamp_01.png"
                                                         style="width: 100%; display: block;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ var rol = ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol; }

@if (@Session["Login-Info"] != null && (rol == "ALUMNO" || rol == "ADMINISTRADOR"))
{
    <div class="wrapper" id="divChatBotContainer">
        <div class="chat-box">
            <div class="chat-head" style="cursor:pointer !important">
                <img src="/Content/images/chat5.png" class="chat-head-img-chat" style="cursor:pointer !important;margin: 5px 5px 5px 5px;width: 44px;float: none;">
                <label style="cursor:pointer !important">Consultar a UPECITO!</label>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png" title="Expand Arrow" width="14" class="chat-head-img-angle" id="img-head-chat">
            </div>

            <div class="chat-body" style="display:none">
                <label class="LabelCSSTop"></label>

                <div id="divIniciarChatBot">
                    <div class="" style="height: 400px;overflow: hidden;margin-bottom: 0px;border: 1px solid #E3000F;padding-top: 50px;padding-left: 10px;">
                        <img src="/Content/images/if_88_171447.png" class="" style="">
                        <label>Asesor de Aula Virtual</label>
                        <br />
                        <label style="padding-left: 50px;">Información...</label>
                    </div>

                    <div class="chat-text" style="text-align: center; padding-top: 25px; border-bottom-color: Navy; border-width: 5px;width:350px">
                        <button id="btnUpecito" onclick="ShowChat();">
                            Iniciar
                        </button>
                    </div>
                </div>

                <div id="BotChatGoesHere" style="width:100%;height:400px;display:none;" />
            </div>

        </div>
    </div>
}






@*<script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>*@
<script src="~/Scripts/botchat.js"></script>

<script>
    $(function () {
        var arrow = $('.chat-head');

        arrow.on('click', function () {
            var src = $('#img-head-chat').attr('src');

            $('.chat-body').slideToggle('fast');

            if (src == 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png') {
                $('#img-head-chat').attr('src', 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png');
            }
            else {
                $('#img-head-chat').attr('src', src);
            }
        });

        //ExecuteChat();
    });
</script>


<script type="text/javascript">


    function ShowChat() {
        var divBotChatGoesHere = document.getElementById("BotChatGoesHere");
        var divIniciarChatBot = document.getElementById("divIniciarChatBot");

        if (divBotChatGoesHere.style.display === "none") {
            divBotChatGoesHere.style.display = "block";
            divIniciarChatBot.style.display = "none";

            ExecuteChat();
        } else {
            divBotChatGoesHere.style.display = "none";
        }
    }

    function ExecuteChat() {
        
        var params = BotChat.queryParams(location.search);
        console.log(location.search);
        var user = {
            id: "@Session["User-Id"]",
            name: '@User.Identity.GetUserName()'
        };

        console.log(user);

        var bot = {
            id: params['botid'] || 'botid',
            name: params['botname'] || 'botname'
        };

        window['botchatDebug'] = params['debug'] && params['debug'] === 'true';

        var botConnection = new BotChat.DirectLine(
            {
                token: "8Dkr_8xlF-s.qTV_NS0DyGHSfAM7zGT8ngSf6j3XJ4oP_yS3gEtLlhM",
                user: user,
                webSocket: false
            });

        BotChat.App({
            user: user,
            botConnection: botConnection,
            bot: bot,
            resize: 'detect',
            sendTyping: false,    // defaults to false. set to true to send 'typing' activities to bot (and other users) when user is typing
            //from: user,
            locale: 'es-es', // override locale to Spanish
            //directLine: {
            //    secret: "aNm6Ihl-Feg.cwA.UiU.yJCPLacQKOpFVzxZjbEJRZV9cdA6dVZHkUDkVw1LM0g",
            //    webSocket: false
            //},
            directLine: {
                secret: "8Dkr_8xlF-s.qTV_NS0DyGHSfAM7zGT8ngSf6j3XJ4oP_yS3gEtLlhM",
                webSocket: false
            }
            //botConnection: {
            //    botConnection: dl,
            //    postActivity: activity => dl.postActivity({
            //        from: user,
            //        name: 'WelcomeDialog',
            //        type: 'event',
            //        value: ''
            //    }).subscribe(function (id) {
            //            console.log(id);
            //        })
            //},
        }, document.getElementById('BotChatGoesHere'));

        $(".wc-shellinput").val("Iniciar").change();
        $(".wc-send").trigger("click");
        $(".wc-shellinput").val(null).change();

        //botConnection
        //    .postActivity({
        //        from: user,
        //        name: 'requestRootDialog',
        //        type: 'event',
        //        value: '',
        //        channelData: user
        //    })
        //    .subscribe(function (id) {
        //        console.log('"trigger requestRootDialog" sent');
        //    });

        //botConnection.postActivity({
        //    type: "message",
        //    text: "Iniciar",
        //    //value: "Iniciar",
        //    from: user
        //}).subscribe(function (id) {
        //        console.log('Initialization');
        //    });

        $('.wc-header').css('display', 'none');

    }


</script>

<script type="text/javascript">

    $(document).ready(function () {

        var windowHeight = $(window).height();
        var valheight = $('#globalNavPageNavArea').height();

        $('#globalNavPageContentArea').height(windowHeight - valheight - 50);
        $('#divCointainerRenderBody').height(windowHeight - valheight - 15);

        //var divChatBotContainer = document.getElementById('divChatBotContainer');
        //if (divChatBotContainer != null) {
        //    ExecuteChat();
        //}

    });

</script>


<script type="text/javascript">

    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3500);
    }

</script>
