@using Microsoft.AspNet.Identity
@using GSAV.Entity.Objects
@using GSAV.Entity.Util
@{
    /**/

    ViewBag.Title = "Home";
}

<div class="contentPaneWide clearfix tabbedPane portal">

    <div class="paneTabs clearfix">
        <h2 class="hideoff" id="anonymous_element_2">Fichas</h2>
        <ul id="paneTabs" class="clearfix nav">
            <li class="active ">
                <a href="@Url.Content("/Home/Index")">Mi institución<span class="hideoff"> (ficha activa)</span></a>
            </li>
            <li class=" ">
                <a href="@Url.Content("/Home/Index")">Panel de notificaciones</a>
            </li>

            <li class="" style="display:none;"></li>
            <li id="overflowLiId" class="sub" style="display: none;">
                <a href="#" id="overflowIconId" class="hiddenTabsLink"></a>
                <ul class="more" id="overflowULId"></ul>
            </li>
        </ul>
    </div>

    <div id="content" class="contentBox clearfix">
        <div class="container clearfix">

            <div class="row">
                <div class="col-md-12">

                    <div class="contentBox contentBox-edit clearfix">

                        <div class="containerPortal clearfix">

                            <div id="column0" class="column-3 clearfix" style="width: 20%;">

                                <div class="portlet clearfix  " id="module:_48_1">
                                    <!-- extid:portal/tools/my_institution: -->
                                    <div class="edit_controls">
                                    </div>

                                    @Html.Partial("_ToolsMenu")

                                </div>

                                <div class="portlet clearfix  " id="module:_522_1">

                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_5">
                                        <span class="moduleTitle">Videotutoriales y manuales de Aprendizaje Digital</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated"><p style="text-align: center;"><a href="https://www.youtube.com/playlist?list=PLontYaReEU1seUE3ACG3sEc3zR7Br7URU" target="_blank"><img src="~/Content/images/BMANUALES1.jpg" width="100%" height="100%" alt="videotutoriales" title="videotutoriales"></a></p></div>

                                    </div>
                                </div>
                            </div>

                            <div id="column1" class="column-3 clearfix" style="width: 45%;">
                                <div class="portlet clearfix  " id="module:_527_1">

                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_9">
                                        <span class="moduleTitle">Aprendizaje Digital: Recomendaciones y tips</span>
                                    </h2>
                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated">
                                            <div class="w3-content w3-section" style="max-width: 100%;" align="center">
                                                <a href="https://upc.facebook.com/groups/OneCampus.2017.2/permalink/2108476952803781/" target=" _blank">
                                                    <img alt="" class="mySlides"
                                                         src="http://beta.upc.edu.pe/tice/Modulo_BB/slides/img-a/b_onecamp_01.png"
                                                         style="width: 100%; display: block;">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{ var rol = ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol; }

@if (@Session["Login-Info"] != null && (rol == "ALUMNO" || rol == "ADMINISTRADOR"))
{
    <div class="wrapper" id="divChatBotContainer">
        <div class="chat-box">
            <div class="chat-head" style="cursor:pointer !important">
                <img src="/Content/images/chat5.png" class="chat-head-img-chat" style="cursor:pointer !important;margin: 5px 5px 5px 5px;width: 44px;float: none;">
                <label style="cursor:pointer !important">Consultar a UPECITO!</label>
                <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png" title="Expand Arrow" width="14" class="chat-head-img-angle" id="img-head-chat">
            </div>

            <div class="chat-body" style="display:none">
                <label class="LabelCSSTop"></label>

                <div id="divIniciarChatBot">
                    <div class="" style="height: 400px;overflow: hidden;margin-bottom: 0px;border: 1px solid #E3000F;padding-top: 50px;padding-left: 10px;">
                        <img src="/Content/images/if_88_171447.png" class="" style="">
                        <label>Asesor de Aula Virtual</label>
                        <br />
                        <label style="padding-left: 50px;">Información...</label>
                    </div>

                    <div class="chat-text" style="text-align: center; padding-top: 25px; border-bottom-color: Navy; border-width: 5px;width:350px">
                        <button id="btnUpecito" onclick="ShowChat();ExecuteChat();">
                            Iniciar
                        </button>
                    </div>
                </div>

                <div id="BotChatGoesHere" style="width:100%;height:400px;display:none;" />
            </div>

        </div>
    </div>
}






<script src="https://cdn.botframework.com/botframework-webchat/latest/botchat.js"></script>

<script>
    $(function () {
        var arrow = $('.chat-head');

        arrow.on('click', function () {
            var src = $('#img-head-chat').attr('src');

            $('.chat-body').slideToggle('fast');

            if (src == 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png') {
                $('#img-head-chat').attr('src', 'https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png');
            }
            else {
                $('#img-head-chat').attr('src', src);
            }
        });

        //ExecuteChat();
    });
</script>


<script type="text/javascript">


    function ShowChat() {
        var divBotChatGoesHere = document.getElementById("BotChatGoesHere");
        var divIniciarChatBot = document.getElementById("divIniciarChatBot");

        if (divBotChatGoesHere.style.display === "none") {
            divBotChatGoesHere.style.display = "block";
            divIniciarChatBot.style.display = "none";
        } else {
            divBotChatGoesHere.style.display = "none";
        }
    }

    function ExecuteChat() {

        var params = BotChat.queryParams(location.search);

        var user = {
            id: "@Session["User-Id"]",
            name: '@User.Identity.GetUserName()'
        };

        console.log(user);

        var bot = {
            id: params['botid'] || 'botid',
            name: params['botname'] || 'botname'
        };

        window['botchatDebug'] = params['debug'] && params['debug'] === 'true';

        BotChat.App({
            bot: bot,
            resize: 'detect',
            sendTyping: true,    // defaults to false. set to true to send 'typing' activities to bot (and other users) when user is typing
            user: user,
            locale: 'es-es', // override locale to Spanish
            //directLine: {
            //    secret: "aNm6Ihl-Feg.cwA.UiU.yJCPLacQKOpFVzxZjbEJRZV9cdA6dVZHkUDkVw1LM0g",
            //    webSocket: false
            //},
            directLine: {
                secret: "DWjCh-AFKgI.cwA.AdA.gqr0jZJ1bQy-fxwxPYbRyEqav0u9x6rM0qT3UY9OuPU",
                webSocket: false
            }
        }, document.getElementById('BotChatGoesHere'));

        $('.wc-header').css('display', 'none');

    }


</script>

<script type="text/javascript">

    $(document).ready(function () {

        var windowHeight = $(window).height();
        var valheight = $('#globalNavPageNavArea').height();

        $('#globalNavPageContentArea').height(windowHeight - valheight - 50);
        $('#divCointainerRenderBody').height(windowHeight - valheight - 15);

        //var divChatBotContainer = document.getElementById('divChatBotContainer');
        //if (divChatBotContainer != null) {
        //    ExecuteChat();
        //}

    });

</script>


<script type="text/javascript">

    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 3500);
    }

</script>
