@model GSAV.Web.Models.SolicitudModel
@using Microsoft.AspNet.Identity
@using GSAV.Entity.Objects
@using GSAV.Entity.Util
@{
    /**/

    ViewBag.Title = "Detalle de Consulta";
}

<div class="contentPaneWide clearfix tabbedPane portal">

    <div class="paneTabs clearfix">
        <h2 class="hideoff" id="anonymous_element_2">Fichas</h2>
        <ul id="paneTabs" class="clearfix nav">
            <li class="active ">
                <a href="#">Detalle de Consulta<span class="hideoff"> (ficha activa)</span></a>
            </li>

            <li class="" style="display:none;"></li>
            <li id="overflowLiId" class="sub" style="display: none;">
                <a href="#" id="overflowIconId" class="hiddenTabsLink"></a>
                <ul class="more" id="overflowULId"></ul>
            </li>
        </ul>
    </div>

    <div id="content" class="contentBox clearfix">
        <div class="container clearfix">

            <div class="row">
                <div class="col-md-12">



                    <div class="contentBox contentBox-edit clearfix">

                        <div class="containerPortal clearfix">

                            <div id="column0" class="column-2 clearfix" style="width: 20%;">

                                <div class="portlet clearfix  " id="module:_48_1">
                                    <!-- extid:portal/tools/my_institution: -->
                                    <div class="edit_controls">
                                    </div>

                                    @Html.Partial("_ToolsMenu")
                                </div>

                                <div class="portlet clearfix  " id="module:_522_1">
                                    <!-- extid:522: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_5">
                                        <span class="moduleTitle">Videotutoriales y manuales de Aprendizaje Digital</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated"><p style="text-align: center;"><a href="https://www.youtube.com/playlist?list=PLontYaReEU1seUE3ACG3sEc3zR7Br7URU" target="_blank"><img src="~/Content/images/BMANUALES1.jpg" width="100%" height="100%" alt="videotutoriales" title="videotutoriales"></a></p></div>

                                    </div>
                                </div>

                                <div class="portlet clearfix  " id="module:_528_1">
                                    <!-- extid:528: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_7">
                                        <span class="moduleTitle">Reglamentos y Políticas de UPC</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated">
                                            <div class="w3-content w3-section" style="max-width: 100%;">
                                                <a href="http://sica.upc.edu.pe/publico/reglamentos-upc" target="_blank="><img class="mySlides1" src="http://info.upc.edu.pe/hemeroteca/BB/slides/img/b_reg.png" style="width: 100%; display: block;"></a>
                                                <a href="http://sica.upc.edu.pe/publico/politicas-upc" target="_blank"><img class="mySlides1" src="http://info.upc.edu.pe/hemeroteca/BB/slides/img/b_pol.png" style="width: 100%; display: none;"></a>
                                            </div>
                                            <script type="text/javascript">
                                                /*<![CDATA[*/
                                                var myIndex1 = 0;
                                                carousel1();

                                                function carousel1() {
                                                    var i;
                                                    var x = document.getElementsByClassName("mySlides1");
                                                    for (i = 0; i < x.length; i++) {
                                                        x[i].style.display = "none";
                                                    }
                                                    myIndex1++;
                                                    if (myIndex1 > x.length) { myIndex1 = 1 }
                                                    x[myIndex1 - 1].style.display = "block";
                                                    setTimeout(carousel1, 3000); // Change image every 2 seconds
                                                }
                                                /*]]>*/</script>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div id="column1" class="column-2 clearfix" style="width: 80%;">
                                <div class="portlet clearfix  " id="module:_527_1">
                                    <!-- extid:527: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_9">
                                        <span class="moduleTitle">Detalle de Consulta</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">


                                        <table width="100%">
                                            <tr>
                                                <td style="height:15px"></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%">

                                                    <fieldset class="fieldset">
                                                        <legend>Datos</legend>

                                                        <table width="100%" cellpadding="2">
                                                            <colgroup>
                                                                <col width="15%" />
                                                                <col width="35%" />
                                                                <col width="12%" />
                                                                <col width="38%" />
                                                            </colgroup>
                                                            <tr>
                                                                <td align="left" class="Texto">
                                                                    Número Solicitud:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.HiddenFor(model => model.IdSolicitud)
                                                                    @Html.TextBoxFor(model => model.NumeroSolicitud, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                                <td align="left" class="Texto" style="padding-left:10px;">
                                                                    Fecha Solicitud:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.TextBoxFor(model => model.FechaSolicitud, new { @style = "width:40%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="Texto">
                                                                    Intención:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.TextBoxFor(model => model.IntencionConsulta, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                    @Html.HiddenFor(model=> model.IdIntencionPadre)
                                                                </td>
                                                                <td align="left" class="Texto" style="padding-left:10px;"></td>
                                                                <td style="text-align: left"></td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Alumno:
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(model => model.Alumno, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    Consulta:
                                                                </td>
                                                                <td colspan="3">
                                                                    @Html.TextArea("Consulta", new { @style = "", @readonly = true, @class = "textAreaCustom text-box-read-only" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    Respuesta:
                                                                </td>
                                                                <td colspan="3">


                                                                    @if (@Session["Login-Info"] != null)
                                                                    {
                                                                        if (!Model.ReadOnly.Equals("Y") && ((ReturnObject<Usuario>
                                                                            )@Session["Login-Info"]).OneResult.Empleado != null)
                                                                        {
                                                                            @Html.TextArea("Respuesta", new { @style = "", @class = "textAreaCustom" })
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.TextArea("Respuesta", new { @style = "", @readonly = true, @class = "textAreaCustom text-box-read-only" })
                                                                        }
                                                                     }

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">

                                                                    @if (!Model.ReadOnly.Equals("Y"))
                                                                    {
                                                                        if (Model.VisibleCrearConsulta.Equals("Y"))
                                                                        {
                                                                            <input type="checkbox" id="chkAgregarDialogFlow" name="chkAgregarDialogFlow" />
                                                                            <label>Crear Consulta Frecuente</label>
                                                                            
                                                                        }
                                                                    }

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="4">

                                                                    @if (!Model.ReadOnly.Equals("Y"))
                                                                    {
                                                                        if (Model.VisibleCrearConsulta.Equals("Y"))
                                                                        {
                                                                             <div id="divCrearConsultaFrecuente" style="display:none">
                                                                        <table style="width: 100%; text-align: left" class="tablePopup">
                                                                            <colgroup>
                                                                                <col width="15%" />
                                                                                <col width="35%" />
                                                                                <col width="12%" />
                                                                                <col width="38%" />
                                                                            </colgroup>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    Palabra Clave:
                                                                                </td>
                                                                                <td>
                                                                                    <input type="text" id="txtPalabraClave" style="width: 100%;" />
                                                                                </td>
                                                                                <td colspan="2"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    Etiquetas:
                                                                                </td>
                                                                                <td>
                                                                                    <table>
                                                                                        <tr>                                                                                            
                                                                                            <td>
                                                                                                <div id="divFields">
                                                                                                    <ul style="height:45px">
                                                                                                        <li style="background-color:lightgreen;border-radius:4px;margin: 5px">@Html.LabelFor(model => model.Curso,Model.Curso, new { id = "lblCurso" })</li>                                                                                                        
                                                                                                        <li style="background-color:lightgreen;border-radius:4px"> @Html.LabelFor(model => model.Actividad, Model.Actividad, new { id = "lblActividad" })</li>
                                                                                                    </ul>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    Pregunta:
                                                                                </td>
                                                                                <td colspan="3">
                                                                                    <div id="divDroppedFields">
                                                                                        <textarea id="txtFrase" name="txtFrase" style="height:80px;width:100%" class="textAreaCustom"></textarea>
                                                                                    </div>                                                                                    
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td valign="top">
                                                                                    Solución:
                                                                                </td>
                                                                                <td colspan="3">
                                                                                    <textarea id="txtSolucion" name="txtSolucion" style="height:80px;width:100%" class="textAreaCustom"></textarea>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                        }
                                                                    }
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>

                                                    <fieldset class="fieldset" style="margin-top: 5px!important;">
                                                        <table>
                                                            <tr>
                                                                <td colspan="4">
                                                                    @if (@Session["Login-Info"] != null)
                                                                    {
                                                                        if (((ReturnObject<Usuario>
                                                                            )@Session["Login-Info"]).OneResult.Empleado != null)
                                                                        {

                                                                            if (!Model.ReadOnly.Equals("Y"))
                                                                            {
                                                                                <input type="button" value="Enviar" onclick="javascript: Enviar();" />
                                                                            }
                                                                        }
                                                                     }


                                                                     <input type="button" value="Regresar" onclick="javascript: Cancelar();" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>
                                                </td>
                                            </tr>
                                        </table>

                                        <script type="text/javascript">

                                            
                                            //-----------------------------------------------------------------------------------------
                                            function initializeDragDrop() {

                                                $("#divFields li").draggable({
                                                    helper: "clone"
                                                });

                                             
                                                $("#divDroppedFields").droppable({
                                                    accept: "#divFields li",
                                                    drop: function (event, ui) {
                                                        var text = $('#txtFrase').val();
                                                        $(this).find('#txtFrase').val('');
                                                        $(this).find('#txtFrase').val((text + ' ' + ui.draggable.text()));
                                                    }

                                                });                                               
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            $(document).ready(function () {

                                                initializeDragDrop();

                                                $("#chkAgregarDialogFlow").change(function () {
                                                    if ($(this).is(':checked')) {
                                                        var consulta = $('#Consulta').val();
                                                        var frase = $('#txtFrase').val();

                                                        //if (frase != null && frase === '') {
                                                        //    $('#txtFrase').val(consulta);
                                                        //}

                                                        $('#divCrearConsultaFrecuente').css('display', 'block');

                                                    } else {
                                                        $('#divCrearConsultaFrecuente').css('display', 'none');
                                                    }

                                                });

                                            });

                                            //-----------------------------------------------------------------------------------------

                                            function stringToBoolean(string) {
                                                switch (string) {
                                                    case "TRUE": case "True": case "true": case "yes": case "1": return true;
                                                    case "FALSE": case "False": case "false": case "no": case "0": case null: return false;
                                                    default: return Boolean(string);
                                                }
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function Enviar() {

                                                if ($('#Respuesta').val() === '') {
                                                    alert("Por favor, ingrese una respuesta a la solicitud");
                                                    $("#Respuesta").focus();
                                                    return;
                                                }

                                                var crearConsulta = "0";
                                                var strCrearConsulta = "0";

                                                if (document.getElementById("chkAgregarDialogFlow") != null) {
                                                    crearConsulta = document.getElementById("chkAgregarDialogFlow").checked;
                                                }                                                
                                                
                                                if (stringToBoolean(crearConsulta)) {
                                                    strCrearConsulta = "1";
                                                    //Validar Nueva Intencion Ingresada
                                                    if ($('#txtPalabraClave').val() === '') {
                                                        alert("Por favor, ingrese Palabra Clave");
                                                        $("#txtPalabraClave").focus();
                                                        return;
                                                    }
                                                    //Validar Frase Ingresada
                                                    if ($('#txtFrase').val() === '') {
                                                        alert("Por favor, ingrese la nueva frase de entrenamiento");
                                                        $("#txtFrase").focus();
                                                        return;
                                                    }
                                                    //Validar Solucion Ingresada
                                                    if ($('#txtSolucion').val() === '') {
                                                        alert("Por favor, ingrese la solución");
                                                        $("#txtSolucion").focus();
                                                        return;
                                                    }

                                                    //Validar q' Frase 2 contenga los valores de las etiquetas
                                                    //Curso y Actividad
                                                    var frase = $('#txtFrase').val();
                                                    var curso = $('#lblCurso').text();
                                                    var actividad = $('#lblActividad').text();

                                                    if (!(frase.includes(curso) && frase.includes(actividad))) {
                                                        alert("Por favor, incluya las etiquetas de Curso y Actividad");
                                                        $("#txtFrase").focus();
                                                        return;
                                                    }

                                                    //BEGIN - Validar Si Existe Intencion
                                                    $.blockUI();

                                                    var parametros_ = {
                                                        nombreIntencion: $('#txtPalabraClave').val()
                                                    };

                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/Consulta/ValidarIntencion',
                                                        data: parametros_,
                                                        dataType: 'json',
                                                        success: function (rpta) {

                                                            $.unblockUI();

                                                            if (rpta.ValidacionIntencion === 'EXISTE') {
                                                                $("#txtPalabraClave").focus();
                                                                $.alert({
                                                                    closeIcon: true,
                                                                    title: 'Detalle Consulta',
                                                                    content: 'La intención ingresada ya existe, ingrese una distinta',
                                                                    type: 'red',
                                                                    typeAnimated: true,
                                                                });
                                                            } else {
                                                                //Registrar la Respuesta y La Nueva Intencion
                                                                ConfirmarGrabarDatos(strCrearConsulta);
                                                            }

                                                        },
                                                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                                                        }
                                                    });
                                                    //END   - Validar Si Existe Intencion

                                                } else {
                                                    //Registrar la Respuesta y La Nueva Intencion
                                                    ConfirmarGrabarDatos(strCrearConsulta);
                                                }

                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function ConfirmarGrabarDatos(strCrearConsulta) {
                                                if (confirm('¿Desea enviar la respuesta a la Consulta?')) {

                                                    $.blockUI();

                                                    var parametros = {
                                                        idSolicitud: $('#IdSolicitud').val(),
                                                        intencionPadre: $('#IdIntencionPadre').val(),
                                                        solucion: $('#Respuesta').val(),
                                                        crearConsulta: strCrearConsulta,
                                                        nombreIntencion: $('#txtPalabraClave').val(),
                                                        frase1: $('#Consulta').val(),
                                                        frase2: $('#txtFrase').val(),
                                                        solucionIntencion: $('#txtSolucion').val(),
                                                        curso: $('#lblCurso').text(),
                                                        actividad: $('#lblActividad').text()
                                                    };

                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/Consulta/EnviarSolucionSolicitud',
                                                        data: parametros,
                                                        dataType: 'json',
                                                        success: function (rpta) {

                                                            $.unblockUI();

                                                            if (rpta === 'SEND_EMAIL_OK') {
                                                                $.alert({
                                                                    closeIcon: true,
                                                                    title: 'Detalle Consulta',
                                                                    content: 'Se notifico satisfactoriamente la respuesta a la consulta ingresada por el alumno',
                                                                    type: 'red',
                                                                    typeAnimated: true,
                                                                });

                                                                setTimeout(function () { Cancelar(); }, 3000);

                                                            } else {
                                                                $.alert({
                                                                    closeIcon: true,
                                                                    title: 'Detalle Consulta',
                                                                    content: 'Ha ocurrido un error. Por favor, intente de nuevo.',
                                                                    type: 'red',
                                                                    typeAnimated: true,
                                                                });
                                                            }
                                                        },
                                                        error: function (XMLHttpRequest, textStatus, errorThrown) {


                                                        }
                                                    });

                                                }
                                            }

                                            //-----------------------------------------------------------------------------------------

                                            function Cancelar() {
                                                window.open('@Url.Action("Index", "Consulta")', '_self');
                                            }

                                            //-----------------------------------------------------------------------------------------

                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>