@model GSAV.Web.Models.SolicitudModel
@using Microsoft.AspNet.Identity
@using GSAV.Entity.Objects
@using GSAV.Entity.Util
@{
    /**/

    ViewBag.Title = "Detalle de Consulta";
}

<div class="contentPaneWide clearfix tabbedPane portal">

    <div class="paneTabs clearfix">
        <h2 class="hideoff" id="anonymous_element_2">Fichas</h2>
        <ul id="paneTabs" class="clearfix nav">
            <li class="active ">
                <a href="#">Detalle de Consulta<span class="hideoff"> (ficha activa)</span></a>
            </li>

            <li class="" style="display:none;"></li>
            <li id="overflowLiId" class="sub" style="display: none;">
                <a href="#" id="overflowIconId" class="hiddenTabsLink"></a>
                <ul class="more" id="overflowULId"></ul>
            </li>
        </ul>
    </div>

    <div id="content" class="contentBox clearfix">
        <div class="container clearfix">

            <div class="row">
                <div class="col-md-12">



                    <div class="contentBox contentBox-edit clearfix">

                        <div class="containerPortal clearfix">

                            <div id="column0" class="column-2 clearfix" style="width: 20%;">

                                <div class="portlet clearfix  " id="module:_48_1">
                                    <!-- extid:portal/tools/my_institution: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_4">
                                        <span class="moduleTitle">Herramientas</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <ul class="portletList">
                                            <li>
                                                <a href="@Url.Content("/Home/Index")" _self">Mi institución</a>
                                            </li>

                                            @if (@Session["Login-Info"] != null && 
                                                ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "DOCENTE")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/Consulta/Index")" _self">Bandeja de Consultas</a>
                                                </li>

                                            }

                                            @if (@Session["Login-Info"] != null &&
                                                 ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "DOCENTE")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/BaseAcademico/Index")" _self">Base de Conocimiento Académico</a>
                                                </li>

                                            }

                                            @if (@Session["Login-Info"] != null && ((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Rol == "COORDINADOR")
                                            {
                                                <li>
                                                    <a href="@Url.Content("/Dashboard/Index")" _self">Dashboard de Consultas</a>
                                                </li>
                                            }

                                        </ul>


                                    </div>
                                </div>

                                <div class="portlet clearfix  " id="module:_522_1">
                                    <!-- extid:522: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_5">
                                        <span class="moduleTitle">Videotutoriales y manuales de Aprendizaje Digital</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated"><p style="text-align: center;"><a href="https://www.youtube.com/playlist?list=PLontYaReEU1seUE3ACG3sEc3zR7Br7URU" target="_blank"><img src="~/Content/images/BMANUALES1.jpg" width="100%" height="100%" alt="videotutoriales" title="videotutoriales"></a></p></div>

                                    </div>
                                </div>

                                <div class="portlet clearfix  " id="module:_528_1">
                                    <!-- extid:528: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_7">
                                        <span class="moduleTitle">Reglamentos y Políticas de UPC</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">

                                        <div class="vtbegenerated">
                                            <div class="w3-content w3-section" style="max-width: 100%;">
                                                <a href="http://sica.upc.edu.pe/publico/reglamentos-upc" target="_blank="><img class="mySlides1" src="http://info.upc.edu.pe/hemeroteca/BB/slides/img/b_reg.png" style="width: 100%; display: block;"></a>
                                                <a href="http://sica.upc.edu.pe/publico/politicas-upc" target="_blank"><img class="mySlides1" src="http://info.upc.edu.pe/hemeroteca/BB/slides/img/b_pol.png" style="width: 100%; display: none;"></a>
                                            </div>
                                            <script type="text/javascript">
                                                /*<![CDATA[*/
                                                var myIndex1 = 0;
                                                carousel1();

                                                function carousel1() {
                                                    var i;
                                                    var x = document.getElementsByClassName("mySlides1");
                                                    for (i = 0; i < x.length; i++) {
                                                        x[i].style.display = "none";
                                                    }
                                                    myIndex1++;
                                                    if (myIndex1 > x.length) { myIndex1 = 1 }
                                                    x[myIndex1 - 1].style.display = "block";
                                                    setTimeout(carousel1, 3000); // Change image every 2 seconds
                                                }
                                                /*]]>*/</script>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div id="column1" class="column-2 clearfix" style="width: 80%;">
                                <div class="portlet clearfix  " id="module:_527_1">
                                    <!-- extid:527: -->
                                    <div class="edit_controls">
                                    </div>


                                    <h2 class="  clearfix" id="anonymous_element_9">
                                        <span class="moduleTitle">Detalle de Consulta</span>
                                    </h2>


                                    <div class="collapsible" style="overflow: auto;">


                                        <table width="100%">
                                            <tr>
                                                <td style="height:15px"></td>
                                            </tr>
                                            <tr>
                                                <td style="width: 100%">

                                                    <fieldset class="fieldset">
                                                        <legend>Datos</legend>

                                                        <table width="100%" cellpadding="2">
                                                            <colgroup>
                                                                <col width="15%" />
                                                                <col width="35%" />
                                                                <col width="12%" />
                                                                <col width="38%" />
                                                            </colgroup>
                                                            <tr>
                                                                <td align="left" class="Texto">
                                                                    Número Solicitud:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.HiddenFor(model => model.IdSolicitud)
                                                                    @Html.TextBoxFor(model => model.NumeroSolicitud, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                                <td align="left" class="Texto" style="padding-left:10px;">
                                                                    Fecha Solicitud:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.TextBoxFor(model => model.FechaSolicitud, new { @style = "width:40%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" class="Texto">
                                                                    Intención:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.TextBoxFor(model => model.TipoConsulta, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                                <td align="left" class="Texto" style="padding-left:10px;">
                                                                    Palabra Clave:
                                                                </td>
                                                                <td style="text-align: left">
                                                                    @Html.TextBoxFor(model => model.PalabraClave, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    Alumno:
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(model => model.Alumno, new { @style = "width:100%", @readonly = true, @class = "text-box-read-only" })
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    Consulta:
                                                                </td>
                                                                <td colspan="3">
                                                                    @Html.TextArea("Consulta", new { @style = "", @readonly = true, @class = "textAreaCustom text-box-read-only" })
                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top">
                                                                    Respuesta:
                                                                </td>
                                                                <td colspan="3">


                                                                    @if (@Session["Login-Info"] != null)
                                                                    {
                                                                        if (((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Empleado != null)
                                                                        {
                                                                            @Html.TextArea("Respuesta", new { @style = "", @class = "textAreaCustom" })
                                                                        }
                                                                        else
                                                                        {
                                                                            @Html.TextArea("Respuesta", new { @style = "", @readonly = true, @class = "textAreaCustom text-box-read-only" })
                                                                        }
                                                                    }

                                                                </td>
                                                                <td></td>
                                                                <td></td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>

                                                    <fieldset class="fieldset" style="margin-top: 5px!important;">
                                                        <table>
                                                            <tr>
                                                                <td colspan="4">
                                                                    @if (@Session["Login-Info"] != null)
                                                                    {
                                                                        if (((ReturnObject<Usuario>)@Session["Login-Info"]).OneResult.Empleado != null)
                                                                        {
                                                                            <input type="button" value="Enviar" onclick="javascript: Enviar();" />
                                                                        }
                                                                    }


                                                                    <input type="button" value="Regresar" onclick="javascript: Cancelar();" />
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </fieldset>
                                                </td>
                                            </tr>
                                        </table>

                                        <script type="text/javascript">

                                            $(document).ready(function () {

                                            });

                                            function Enviar() {

                                                if (confirm('¿Desea enviar la respuesta a la Consulta?')) {

                                                    $.blockUI();

                                                    var parametros = {
                                                        idSolicitud: $('#IdSolicitud').val(),
                                                        solucion: $('#Respuesta').val()
                                                    };

                                                    $.ajax({
                                                        type: 'POST',
                                                        url: '/Consulta/EnviarSolucionSolicitud',
                                                        data: parametros,
                                                        dataType: 'json',
                                                        success: function (rpta) {

                                                            $.unblockUI();

                                                            if (rpta === 'SEND_EMAIL_OK') {
                                                                $.alert({
                                                                    closeIcon: true,
                                                                    title: 'Detalle Consulta',
                                                                    content: 'Se notifico satisfactoriamente la respuesta a la consulta ingresada por el alumno',
                                                                    type: 'red',
                                                                    typeAnimated: true,
                                                                });

                                                                setTimeout(function () { Cancelar(); }, 3000);

                                                            } else {
                                                                $.alert({
                                                                    closeIcon: true,
                                                                    title: 'Detalle Consulta',
                                                                    content: 'Ha ocurrido un error. Por favor, intente de nuevo.',
                                                                    type: 'red',
                                                                    typeAnimated: true,
                                                                });
                                                            }
                                                        },
                                                        error: function (XMLHttpRequest, textStatus, errorThrown) {


                                                        }
                                                    });

                                                }                                               

                                            }

                                            function Cancelar() {
                                                window.open('@Url.Action("Index", "Consulta")', '_self');
                                            }

                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

